<!DOCTYPE html>
<html lang="en">
   
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrimeCharts</title>
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/crime-charts.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/neumorphism.css')}}">

    <script src="{{url_for('static',filename='assets/javascript/crime-charts.js')}}"></script>

    <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>

    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>


    <script src="https://kit.fontawesome.com/7bdcd846e8.js" crossorigin="anonymous"></script>

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>


    <!-- live time -->
    <script>
        function startTime() {
            var time = new Date();
            document.getElementById('txt').innerHTML = time.toLocaleString('en-US', {
                hour: 'numeric',
                minute: 'numeric',
                hour12: true
            });
        }
    </script>




     <!-- sound script -->
  <script>
    function audio() {
        var audio = new Audio("{{url_for('static',filename='assets/sound/click-sound.mp3')}}");
        audio.play();

    }
</script>

    <!-- header footer script -->
  <script type="module" src="{{url_for('static',filename='assets/javascript/header-footer.js')}}"></script>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

    <!-- dropdown functionality script -->

    <script>
        function dropdownfun() {

            console.log("testing run...");


            var dataset_arr = [];
            var typeofcrime_arr = [];
            var year_arr = [];
            var state_arr = []

            if (document.getElementById('2001-check').checked == true) {
                //  document.getElementById('dropdownMenuButton').innerHTML = '2001';
                //  s = "/templates/neumorphism/assets/data/fulldata2001.json";
                year_arr.push('2001');
            }
            if (document.getElementById('2002-check').checked == true) {
                //  document.getElementById('dropdownMenuButton').innerHTML = '2002';
                //  s = "/templates/neumorphism/assets/data/fulldata2002.json";
                year_arr.push('2002');
            }
            if (document.getElementById('2003-check').checked == true) {
                //  document.getElementById('dropdownMenuButton').innerHTML = '2003';
                //  s = "/templates/neumorphism/assets/data/fulldata2003.json";
                year_arr.push('2003');
            }
            if (document.getElementById('2004-check').checked == true) {
                //  document.getElementById('dropdownMenuButton').innerHTML = '2004';
                //  s = "/templates/neumorphism/assets/data/fulldata2004.json";
                year_arr.push('2004');
            }
            if (document.getElementById('2005-check').checked == true) {
                //  document.getElementById('dropdownMenuButton').innerHTML = '2005';
                //  s = "/templates/neumorphism/assets/data/fulldata2005.json";
                year_arr.push('2005');
            }
            if (document.getElementById('2006-check').checked == true) {
                //  document.getElementById('dropdownMenuButton').innerHTML = '2006';
                //  s = "/templates/neumorphism/assets/data/fulldata2006.json";
                year_arr.push('2006');
            }
            if (document.getElementById('2007-check').checked == true) {
                //  document.getElementById('dropdownMenuButton').innerHTML = '2007';
                //  s = "/templates/neumorphism/assets/data/fulldata2007.json";
                year_arr.push('2007');
            }
            if (document.getElementById('2008-check').checked == true) {
                //  document.getElementById('dropdownMenuButton').innerHTML = '2008';
                //  s = "/templates/neumorphism/assets/data/fulldata2008.json";
                year_arr.push('2008');
            }
            if (document.getElementById('2009-check').checked == true) {
                //  document.getElementById('dropdownMenuButton').innerHTML = '2009';
                //  s = "/templates/neumorphism/assets/data/fulldata2009.json";
                year_arr.push('2009');
            }
            if (document.getElementById('2010-check').checked == true) {
                //  document.getElementById('dropdownMenuButton').innerHTML = '2010';
                //  s = "/templates/neumorphism/assets/data/fulldata2010.json";
                year_arr.push('2010');
            }
            if (document.getElementById('2011-check').checked == true) {
                //  document.getElementById('dropdownMenuButton').innerHTML = '2011';
                //  s = "/templates/neumorphism/assets/data/fulldata2011.json";
                year_arr.push('2011');
            }
            if (document.getElementById('2012-check').checked == true) {
                //  document.getElementById('dropdownMenuButton').innerHTML = '2012';
                //  s = "/templates/neumorphism/assets/data/fulldata2012.json";
                year_arr.push('2012');
            }




            if (document.getElementById('total-check').checked == true) {
                typeofcrime_arr.push('TOTAL');
            }
            if (document.getElementById('murder-check').checked == true) {
                typeofcrime_arr.push('MURDER');
            }
            if (document.getElementById('kidnapping-check').checked == true) {
                typeofcrime_arr.push('KIDNAPPING');
            }
            if (document.getElementById('rape-check').checked == true) {
                typeofcrime_arr.push('RAPE');
            }
            if (document.getElementById('theft-check').checked == true) {
                typeofcrime_arr.push('THEFT');
            }
            if (document.getElementById('caw-check').checked == true) {
                typeofcrime_arr.push('CRIMES_AGAINST_WOMEN');
            }
            if (document.getElementById('others-check').checked == true) {
                typeofcrime_arr.push('OTHERS');
            }
            


            if (document.getElementById('Andhra Pradesh').checked == true) {
                state_arr.push('ANDHRA PRADESH');
            }
            if (document.getElementById('Arunachal Pradesh').checked == true) {
                state_arr.push('ARUNACHAL PRADESH');
            }
            if (document.getElementById('Assam').checked == true) {
                state_arr.push('ASSAM');
            }
            if (document.getElementById('Bihar').checked == true) {
                state_arr.push('BIHAR');
            }
            if (document.getElementById('Chhattisgarh').checked == true) {
                state_arr.push('CHHATTISGARH');
            }
            if (document.getElementById('Goa').checked == true) {
                state_arr.push('GOA');
            }
            if (document.getElementById('Gujarat').checked == true) {
                state_arr.push('GUJARAT');
            }
            if (document.getElementById('Haryana').checked == true) {
                state_arr.push('HARYANA');
            }
            if (document.getElementById('Himachal Pradesh').checked == true) {
                state_arr.push('HIMACHAL PRADESH');
            }
            if (document.getElementById('Jammu and Kashmir').checked == true) {
                state_arr.push('JAMMU & KASHMIR');
            }
            if (document.getElementById('Jharkhand').checked == true) {
                state_arr.push('JHARKHAND');
            }
            if (document.getElementById('Karnataka').checked == true) {
                state_arr.push('KARNATAKA');
            }
            if (document.getElementById('Kerala').checked == true) {
                state_arr.push('KERALA');
            }
            if (document.getElementById('Madhya Pradesh').checked == true) {
                state_arr.push('MADHYA PRADESH');
            }
            if (document.getElementById('Maharashtra').checked == true) {
                state_arr.push('MAHARASHTRA');
            }
            if (document.getElementById('Manipur').checked == true) {
                state_arr.push('MANIPUR');
            }
            if (document.getElementById('Meghalaya').checked == true) {
                state_arr.push('MEGHALAYA');
            }
            if (document.getElementById('Mizoram').checked == true) {
                state_arr.push('MIZORAM');
            }
            if (document.getElementById('Nagaland').checked == true) {
                state_arr.push('NAGALAND');
            }
            if (document.getElementById('Odisha').checked == true) {
                state_arr.push('ODISHA');
            }
            if (document.getElementById('Punjab').checked == true) {
                state_arr.push('PUNJAB');
            }
            if (document.getElementById('Rajasthan').checked == true) {
                state_arr.push('RAJASTHAN');
            }
            if (document.getElementById('Sikkim').checked == true) {
                state_arr.push('SIKKIM');
            }
            if (document.getElementById('Tamil Nadu').checked == true) {
                state_arr.push('TAMIL NADU');
            }
            if (document.getElementById('Telangana').checked == true) {
                state_arr.push('TELANGANA');
            }
            if (document.getElementById('Tripura').checked == true) {
                state_arr.push('TRIPURA');
            }
            if (document.getElementById('Uttar Pradesh').checked == true) {
                state_arr.push('UTTAR PRADESH');
            }
            if (document.getElementById('Uttarakhand').checked == true) {
                state_arr.push('UTTARAKHAND');
            }
            if (document.getElementById('West Bengal').checked == true) {
                state_arr.push('WEST BENGAL');
            }
            if (document.getElementById('Andaman and Nicobar Islands').checked == true) {
                state_arr.push('ANDAMAN AND NICOBAR ISLANDS');
            }
            if (document.getElementById('Chandigarh').checked == true) {
                state_arr.push('CHANDIGARH');
            }
            if (document.getElementById('Dadra and Nagar Haveli').checked == true) {
                state_arr.push('DADAR AND NAGAR HAVELI');
            }
            if (document.getElementById('Daman and Diu').checked == true) {
                state_arr.push('DAMANA AND DIU');
            }
            if (document.getElementById('Lakshadweep').checked == true) {
                state_arr.push('LAKSHADWEEP');
            }
            if (document.getElementById('Delhi').checked == true) {
                state_arr.push('DELHI');
            }
            if (document.getElementById('Puducherry').checked == true) {
                state_arr.push('PUDUCHERRY');
            }



            

            // console.log(state_arr);
            // console.log(year_arr);
            // console.log(typeofcrime_arr);
        


            document.getElementById('iframeID').contentWindow.location.reload();
            document.getElementById('iframeID1').contentWindow.location.reload();
            document.getElementById('iframeID2').contentWindow.location.reload();
            document.getElementById('iframeID3').contentWindow.location.reload();
            document.getElementById('iframeID4').contentWindow.location.reload();
            


testObject={'state':state_arr,'year':year_arr,'crime_type':typeofcrime_arr};

        
// Put the object into storage
localStorage.setItem('testObject', JSON.stringify(testObject));

// Retrieve the object from storage
var retrievedObject = localStorage.getItem('testObject');


        
        }
    </script>





</head>



<body onload="startTime()">



    <my-header></my-header>



    <!-- row for toolbar -->
    <div class="row pl-4" id="toolbar" style="display: flex; flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center;">
        <!-- <div id="toolbar" class="col-9 pl-1"> -->
        <div id="table-buttons" class="row pl-5" style="display: flex;
        flex-wrap: nowrap;
        margin-right: -15px;
        margin-left: -15px;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: flex-start;
    ">
   
            <div class="btn table-buttons-item">Select Charts &nbsp <img
                    src="{{url_for('static',filename='assets/images/scroll-gif.gif')}}" alt="scroll-down-animation"
                    style="width: 30px; height: 30px;">
            </div>
            <div class="table-buttons-item">
                <span><i class="far fa-file-alt"></i></i></span>
            </div>
            <!-- dropdown button-1 [Data Set] -->
            <div id="item-1" class="table-buttons-item">
                <div class="drop-1">
                    <div class="dropdown1">
                        <button class="dropdown1-button outset-neomo">
                            Data Set
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown1-content">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Past Data" id="defaultCheck1"
                                    checked>
                                <label class="form-check-label" for="defaultCheck1">
                                    <a href="#">Past Data </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Webscrapped Data"
                                    id="defaultCheck2">
                                <label class="form-check-label" for="defaultCheck2">
                                    <a href="#">Webscrapped Data </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Predicted Data"
                                    id="defaultCheck3">
                                <label class="form-check-label" for="defaultCheck3">
                                    <a href="#">Predicted Data </a>
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="table-buttons-item">
                <span><i class="fas fa-filter"></i></span>
            </div>
            <!-- dropdown button-2 [Select Data Items] -->
            <div id="item-2" class="table-buttons-item">
                <div class="drop-1">
                    <div class="dropdown1">
                        <button class="dropdown1-button outset-neomo ">
                            Options &nbsp;
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown1-content">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Total" id="total-check" checked>
                                <label class="form-check-label" for="total-check">
                                    <a href="#">Total</a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Murder" id="murder-check">
                                <label class="form-check-label" for="murder-check">
                                    <a href="#">Murder</a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Kidnapping"
                                    id="kidnapping-check">
                                <label class="form-check-label" for="kidnapping-check">
                                    <a href="#">Kidnapping</a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Robbery" id="rape-check">
                                <label class="form-check-label" for="rape-check">
                                    <a href="#">Rape</a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Robbery" id="theft-check">
                                <label class="form-check-label" for="theft-check">
                                    <a href="#">Theft</a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Robbery" id="riots-check">
                                <label class="form-check-label" for="riots-check">
                                    <a href="#">Riots</a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Crimes Against Women" id="caw-check">
                                <label class="form-check-label" for="caw-check">
                                    <a href="#">Crimes Against Women</a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Others" id="others-check">
                                <label class="form-check-label" for="others-check">
                                    <a href="#">Others</a>
                                </label>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="table-buttons-item">
                <span><i class="far fa-calendar-alt"></i></i></span>
            </div>
            <!-- dropdown button-3 [Select Year] -->
            <div id="item-2" class="table-buttons-item">
                <div class="drop-1">
                    <div class="dropdown1">
                        <button class="dropdown1-button outset-neomo " id="dropdownMenuButton">
                            Select Year &nbsp;
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown1-content">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="2001" id="2001-check" checked>
                                <label class="form-check-label" for="2001-check">
                                    <a href="#" onclick="datafillfun(1)">2001</a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="2002" id="2002-check">
                                <label class="form-check-label" for="2002-check">
                                    <a href="#" onclick="datafillfun(2)">2002</a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="2003" id="2003-check">
                                <label class="form-check-label" for="2003-check">
                                    <a href="#" onclick="datafillfun(3)">2003</a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="2004" id="2004-check">
                                <label class="form-check-label" for="2004-check">
                                    <a href="#" onclick="datafillfun(4)">2004</a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="2005" id="2005-check">
                                <label class="form-check-label" for="2005-check">
                                    <a href="#" onclick="datafillfun(5)">2005</a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="2006" id="2006-check">
                                <label class="form-check-label" for="2006-check">
                                    <a href="#" onclick="datafillfun(6)">2006</a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="2007" id="2007-check">
                                <label class="form-check-label" for="2007-check">
                                    <a href="#" onclick="datafillfun(7)">2007</a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="2008" id="2008-check">
                                <label class="form-check-label" for="2008-check">
                                    <a href="#" onclick="datafillfun(8)">2008</a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="2009" id="2009-check">
                                <label class="form-check-label" for="2009-check">
                                    <a href="#" onclick="datafillfun(9)">2009</a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="2010" id="2010-check">
                                <label class="form-check-label" for="2010-check">
                                    <a href="#" onclick="datafillfun(10)">2010</a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="2011" id="2011-check">
                                <label class="form-check-label" for="2011-check">
                                    <a href="#" onclick="datafillfun(11)">2011</a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="2012" id="2012-check">
                                <label class="form-check-label" for="2012-check">
                                    <a href="#" onclick="datafillfun(12)">2012</a>
                                </label>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="table-buttons-item">
                <span><i class="fas fa-city"></i></span>
            </div>
            <!-- dropdown button-4 select state -->
            <div id="item-4" class="table-buttons-item">
                <div class="drop-1">
                    <div class="dropdown1">
                        <button class="dropdown1-button outset-neomo">
                            States
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown1-content">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Andhra Pradesh"
                                    id="Andhra Pradesh" checked>
                                <label class="form-check-label" for="Andhra Pradesh">
                                    <a href="#"> Andhra Pradesh </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Arunachal Pradesh"
                                    id="Arunachal Pradesh">
                                <label class="form-check-label" for="Arunachal Pradesh">
                                    <a href="#"> Arunachal Pradesh </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Assam" id="Assam">
                                <label class="form-check-label" for="Assam">
                                    <a href="#"> Assam </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Bihar" id="Bihar">
                                <label class="form-check-label" for="Bihar">
                                    <a href="#"> Bihar </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Chhattisgarh" id="Chhattisgarh">
                                <label class="form-check-label" for="Chhattisgarh">
                                    <a href="#"> Chhattisgarh </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Goa" id="Goa">
                                <label class="form-check-label" for="Goa">
                                    <a href="#"> Goa </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Gujarat" id="Gujarat">
                                <label class="form-check-label" for="Gujarat">
                                    <a href="#"> Gujarat </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Haryana" id="Haryana">
                                <label class="form-check-label" for="Haryana">
                                    <a href="#"> Haryana </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Himachal Pradesh"
                                    id="Himachal Pradesh">
                                <label class="form-check-label" for="Himachal Pradesh">
                                    <a href="#"> Himachal Pradesh </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Jammu and Kashmir"
                                    id="Jammu and Kashmir">
                                <label class="form-check-label" for="Jammu and Kashmir">
                                    <a href="#"> Jammu and Kashmir </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Jharkhand" id="Jharkhand">
                                <label class="form-check-label" for="Jharkhand">
                                    <a href="#"> Jharkhand </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Karnataka" id="Karnataka">
                                <label class="form-check-label" for="Karnataka">
                                    <a href="#"> Karnataka </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Kerala" id="Kerala">
                                <label class="form-check-label" for="Kerala">
                                    <a href="#"> Kerala </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Madhya Pradesh"
                                    id="Madhya Pradesh">
                                <label class="form-check-label" for="Madhya Pradesh">
                                    <a href="#"> Madhya Pradesh </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Maharashtra" id="Maharashtra">
                                <label class="form-check-label" for="Maharashtra">
                                    <a href="#"> Maharashtra </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Manipur" id="Manipur">
                                <label class="form-check-label" for="Manipur">
                                    <a href="#"> Manipur </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Meghalaya" id="Meghalaya">
                                <label class="form-check-label" for="Meghalaya">
                                    <a href="#"> Meghalaya </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Mizoram" id="Mizoram">
                                <label class="form-check-label" for="Mizoram">
                                    <a href="#"> Mizoram </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Nagaland" id="Nagaland">
                                <label class="form-check-label" for="Nagaland">
                                    <a href="#"> Nagaland </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Odisha" id="Odisha">
                                <label class="form-check-label" for="Odisha">
                                    <a href="#"> Odisha </a>

                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Punjab" id="Punjab">
                                <label class="form-check-label" for="Punjab">
                                    <a href="#"> Punjab </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Rajasthan" id="Rajasthan">
                                <label class="form-check-label" for="Rajasthan ">
                                    <a href="#"> Rajasthan </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Sikkim" id="Sikkim">
                                <label class="form-check-label" for="defaultCheck 23 ">
                                    <a href="#"> Sikkim </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Tamil Nadu" id="Tamil Nadu">
                                <label class="form-check-label" for="defaultCheck 24 ">
                                    <a href="#"> Tamil Nadu </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Telangana" id="Telangana">
                                <label class="form-check-label" for="Telangana">
                                    <a href="#"> Telangana </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Tripura" id="Tripura">
                                <label class="form-check-label" for="Tripura">
                                    <a href="#"> Tripura </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Uttar Pradesh"
                                    id="Uttar Pradesh">
                                <label class="form-check-label" for="Uttar Pradesh">
                                    <a href="#"> Uttar Pradesh </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Uttarakhand" id="Uttarakhand">
                                <label class="form-check-label" for="Uttarakhand">
                                    <a href="#"> Uttarakhand </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="West Bengal" id="West Bengal">
                                <label class="form-check-label" for="West Bengal">
                                    <a href="#"> West Bengal </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Andaman and Nicobar Islands"
                                    id="Andaman and Nicobar Islands">
                                <label class="form-check-label" for="Andaman and Nicobar Islands">
                                    <a href="#"> Andaman and Nicobar Islands </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Chandigarh" id="Chandigarh">
                                <label class="form-check-label" for="Chandigarh">
                                    <a href="#"> Chandigarh </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Dadra and Nagar Haveli"
                                    id="Dadra and Nagar Haveli">
                                <label class="form-check-label" for="Dadra and Nagar Haveli">
                                    <a href="#"> Dadra and Nagar Haveli </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Daman and Diu"
                                    id="Daman and Diu">
                                <label class="form-check-label" for="Daman and Diu">
                                    <a href="#"> Daman and Diu </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Lakshadweep" id="Lakshadweep">
                                <label class="form-check-label" for="Lakshadweep">
                                    <a href="#"> Lakshadweep </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Delhi" id="Delhi">
                                <label class="form-check-label" for="defaultCheck 35 ">
                                    <a href="#"> Delhi </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Puducherry" id="Puducherry">
                                <label class="form-check-label" for="Puducherry">
                                    <a href="#"> Puducherry </a>
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="table-buttons-item">
                <span><i class="fas fa-angle-double-right"></i></span>
            </div>

            <!-- Search Button [Search Icon]-->
            <div id="item-5" class="table-buttons-item">
                <div class="tool-item-5">
                    <button class="btn btn-primary btn-pill text-gray" type="button" onclick="dropdownfun()"> <i class="fas fa-search"></i>  Show </button>
                </div>
            </div>


        </div>
    </div>
    




    <!-- row for charts scrollbar and map -->

    <div class="row pl-4" style="padding-right: 40px;">
        <div class="col-2 pt-2">
            <div class="card bg-primary border-light shadow-soft button-grid " style="
            width: 185px;">


                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical"
                    style="padding-top: 90px;">
                    <button id="btn-pill" class="mt-3 mb-3 nav-link" id="v-pills-barchart-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-barchart" type="button" role="tab" aria-controls="v-pills-barchart"
                        aria-selected="false">Bar Chart</button>
                    <button id="btn-pill" class="mt-3 mb-3 nav-link" id="v-pills-area-chart-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-area-chart" type="button" role="tab" aria-controls="v-pills-area-chart"
                        aria-selected="true">Area Chart</button>


                    <button id="btn-pill" class="mt-3 mb-3 nav-link" id="v-pills-bubblechart-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-bubblechart" type="button" role="tab"
                        aria-controls="v-pills-bubblechart" aria-selected="false">Bubble Chart</button>

                    <!-- <button id="btn-pill" class="mt-3 mb-3 nav-link" id="v-pills-heat-chart-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-heat-chart" type="button" role="tab" aria-controls="v-pills-heat-chart"
                        aria-selected="false">Heat Chart</button> -->
                    <button id="btn-pill" class="mt-3 mb-3 nav-link" id="v-pills-line-chart-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-line-chart" type="button" role="tab" aria-controls="v-pills-line-chart"
                        aria-selected="false">Line Chart</button>
                        
                    <button id="btn-pill" class="mt-3 mb-3 nav-link" id="v-pills-nested-pie-chart-tab"
                        data-bs-toggle="pill" data-bs-target="#v-pills-nested-pie-chart" type="button" role="tab"
                        aria-controls="v-pills-nested-pie-chart" aria-selected="false">Nested Pie Chart</button>

                    <button id="btn-pill" class="mt-3 mb-3 nav-link" id="v-pills-pie-chart-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-pie-chart" type="button" role="tab" aria-controls="v-pills-pie-chart"
                        aria-selected="false">Pie Chart</button>

                    <button id="btn-pill" class="mt-3 mb-3 nav-link" id="v-pills-radar-chart-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-radar-chart" type="button" role="tab"
                        aria-controls="v-pills-radar-chart" aria-selected="false">Radar Chart</button>

                    <!-- <button id="btn-pill" class="mt-3 mb-3 nav-link" id="v-pills-rank-flow-chart-tab"
                        data-bs-toggle="pill" data-bs-target="#v-pills-rank-flow-chart" type="button" role="tab"
                        aria-controls="v-pills-rank-flow-chart" aria-selected="false">Rank Flow Chart</button>

                    <button id="btn-pill" class="mt-3 mb-3 nav-link" id="v-pills-tile-chart-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-tile-chart" type="button" role="tab" aria-controls="v-pills-tile-chart"
                        aria-selected="false">Tile Chart</button> -->



                </div>
            </div>
            <!-- <section id="btn-pill" class="hero-section pt-0 "
                style="overflow: auto;height: 40rem;padding-left: 2px;padding-right: 2px;margin-left: 11px;">
                <div class="card-grid">
                    <a id="item1" class="card" href="#">
                        <div class="card__background
                        </div>
                        <div class="card__content">
                            <p class="card__category">Category</p>
                            <h3 class="card__heading">Pie Chart</h3>
                        </div>
                    </a>
                    <a id="item2" class="card" href="#" onclick="insertMap()">
                        <div class="card__background"
>
                        </div>
                        <div class="card__content">
                            <p class="card__category">Category</p>
                            <h3 class="card__heading">Bar Chart</h3>
                        </div>
                    </a>
                    <a id="item3" class="card" href="#">
                        <div class="card__background"
>
                        </div>
                        <div class="card__content">
                            <p class="card__category">Category</p>
                            <h3 class="card__heading">Bubble Charts</h3>
                        </div>
                    </a>
                    <a id="item4" class="card" href="#">
                        <div class="card__background"

                        </div>
                        <div class="card__content">
                            <p class="card__category">Category</p>
                            <h3 class="card__heading">Histogram</h3>
                        </div>
                    </a>
                    <a id="item5" class="card" href="#">
                        <div class="card__background"
>
                        </div>
                        <div class="card__content">
                            <p class="card__category">Category</p>
                            <h3 class="card__heading">Donut Charts</h3>
                        </div>
                    </a>
                    <a id="item6" class="card" href="#">
                        <div class="card__background"
>
                        </div>
                        <div class="card__content">
                            <p class="card__category">Category</p>
                            <h3 class="card__heading">Line Charts</h3>
                        </div>
                    </a>
                    <a id="item7" class="card" href="#">
                        <div class="card__background"
>
                        </div>
                        <div class="card__content">
                            <p class="card__category">Category</p>
                            <h3 class="card__heading">Vega Charts</h3>
                        </div>
                    </a>
                    <a id="item8" class="card" href="#">
                        <div class="card__background"

                        </div>
                        <div class="card__content">
                            <p class="card__category">Category</p>
                            <h3 class="card__heading">Geomap</h3>
                        </div>
                    </a>
                    <div>
            </section> -->

        </div>
        <div id="mapArea" class="col-10">

            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-area-chart" role="tabpanel"
                    aria-labelledby="v-pills-area-chart-tab">
                    <!-- <embed type="text/html" src="{{url_for('static',filename='assets/Charts/area-chart.html')}}" width="1200"
                        height="600"> -->

                        <iframe src="{{url_for('static',filename='assets/Charts/area-chart.html')}}" frameborder="0" width="1200" height="600" id="iframeID3"></iframe>
                



                </div>
                <div class="tab-pane fade" id="v-pills-bubblechart" role="tabpanel"
                    aria-labelledby="v-pills-bubblechart-tab">
                    <!-- <embed type="text/html" src="{{url_for('static',filename='assets/Charts/bubble-chart.html')}}" width="1200"
                        height="600"> -->

                        <iframe src="{{url_for('static',filename='assets/Charts/bubble-chart.html')}}" frameborder="0" width="1200" height="600" id="iframeID4"></iframe>
              



                </div>
                <div class="tab-pane fade" id="v-pills-heat-chart" role="tabpanel"
                    aria-labelledby="v-pills-heat-chart-tab">
                    <embed type="text/html" src="{{url_for('static',filename='assets/Charts/heat-chart.html')}}" width="1200"
                        height="600">
                </div>
                <div class="tab-pane fade" id="v-pills-barchart" role="tabpanel" aria-labelledby="v-pills-barchart-tab">
                    <!-- <embed type="text/html" src="{{url_for('static',filename='assets/Charts/bar-chart.html')}}" width="1200"
                        height="600"> -->
                    <iframe src="{{url_for('static',filename='assets/Charts/bar-chart.html')}}" frameborder="0" width="1200" height="600" id="iframeID"></iframe>
                </div>
                <div class="tab-pane fade" id="v-pills-line-chart" role="tabpanel"
                    aria-labelledby="v-pills-line-chart-tab">
                    <embed type="text/html" src="{{url_for('static',filename='assets/Charts/line-chart.html')}}" width="1200"
                        height="600">
                </div>
                <div class="tab-pane fade" id="v-pills-nested-pie-chart" role="tabpanel"
                    aria-labelledby="v-pills-nested-pie-chart-tab">
                    <!-- <embed type="text/html" src="{{url_for('static',filename='assets/Charts/nested-pie-chart.html')}}"
                        width="1200" height="600"> -->

                        <iframe src="{{url_for('static',filename='assets/Charts/nested-pie-chart.html')}}" frameborder="0" width="1200" height="600" id="iframeID2"></iframe>
                
<!-- 
                        <iframe src="{{url_for('static',filename='assets/Charts/nested-pie-chart.html')}}" frameborder="0"></iframe> -->
                </div>
                <div class="tab-pane fade" id="v-pills-pie-chart" role="tabpanel"
                    aria-labelledby="v-pills-pie-chart-tab">
                    <!-- <embed type="text/html" src="{{url_for('static',filename='assets/Charts/pie-chart.html')}}" width="1200"
                        height="600">
                 -->

                 <iframe src="{{url_for('static',filename='assets/Charts/pie-chart.html')}}" frameborder="0" width="1200" height="600" id="iframeID1"></iframe>
                
                
                
                    </div>
                <div class="tab-pane fade" id="v-pills-radar-chart" role="tabpanel"
                    aria-labelledby="v-pills-radar-chart-tab">
                    <embed type="text/html" src="{{url_for('static',filename='assets/Charts/radar-chart.html')}}" width="1200"
                        height="600">
                </div>
                <div class="tab-pane fade" id="v-pills-rank-flow-chart" role="tabpanel"
                    aria-labelledby="v-pills-rank-flow-chart-tab">
                    <embed type="text/html" src="{{url_for('static',filename='assets/Charts/rank-flow-chart.html')}}" width="1200"
                        height="600">
                </div>
                <div class="tab-pane fade" id="v-pills-tile-chart" role="tabpanel"
                    aria-labelledby="v-pills-tile-chart-tab">
                    <embed type="text/html" src="{{url_for('static',filename='assets/Charts/tile-chart.html')}}" width="1200"
                        height="600">
                </div>
            </div>
        </div>
    </div>






    <!--row footer -->
    <div class="row">
        <div class="col-8 mx-auto">
            <div class="d-flex align-items-start">
                <!-- buttons of nav -->


                <!-- tab content -->
            </div>
        </div>
    </div>


    <my-footer></my-footer>



</body>

</html>