<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrimePredictor</title>
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/neumorphism.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/crime-locator.css')}}">
    <!-- header footer script -->

    <script src="https://kit.fontawesome.com/7bdcd846e8.js" crossorigin="anonymous"></script>

    <script type="module" src="{{url_for('static',filename='assets/javascript/header-footer.js')}}"></script>




    <!-- live time -->
    <script>
        function startTime() {
            var time = new Date();
            document.getElementById('txt').innerHTML = time.toLocaleString('en-US', {
                hour: 'numeric',
                minute: 'numeric',
                hour12: true
            });
        }
    </script>
    <!-- sound script -->
    <script>
        function audio() {
            var audio = new Audio("{{url_for('static',filename='assets/sound/click-sound.mp3')}}");
            audio.play();

        }
    </script>

    <script>
        function datafillfun(n) {

            //console.log("testing run...");
            var s1 = "{{url_for('static',filename='assets/data/pincodes.json')}}";
            var s = "{{url_for('static',filename='assets/data/districtjsondata.json')}}";
            var s2 = "{{url_for('static',filename='assets/data/rankdataset.json')}}";


            document.getElementById('myGrid1').innerHTML = '';

            inppincode = document.getElementById('pincode').value;

            console.log("testing");
            console.log(inppincode, "pincode")

            // function for reading json file
            function readTextFile(file, callback) {
                var rawFile = new XMLHttpRequest();
                rawFile.overrideMimeType("application/json");
                rawFile.open("GET", file, true);
                rawFile.onreadystatechange = function () {
                    if (rawFile.readyState === 4 && rawFile.status == "200") {
                        callback(rawFile.responseText);
                    }
                }
                rawFile.send(null);
            }


            readTextFile(s1, function (text) {
                var data1 = JSON.parse(text);
                console.log(data1);


                readTextFile(s2, function (text) {
                    var data2 = JSON.parse(text);
                    console.log(data2);
                    
                    readTextFile(s, function (text) {
                    var data = JSON.parse(text);
                    console.log(data);
                    
                    var district = "none";



                    for (i = 0; i < data1.length; i++) {
                        if (data1[i].pincode == inppincode) {
                            district = data1[i].districtName;
                            break;
                        }
                    }

                    var rank='N/A'
                    for (i = 0; i < data2.length; i++) {
                        if (data2[i].DISTRICT.toLowerCase() == district.toLowerCase()) {
                            rank=data2[i].level_0;
                            break;
                        }
                    }
                    console.log("rank of district",rank,district);


                    if (district == "none") {
                        alert("Please check the pincode");
                    }
                    else {
                        console.log(district, "district");
                    }


                    var tableBody = '<h5></h5><table class="table table-hover" ><tr><th class="border-0" scope="col" id="state-table-heading">DISTRICT</th>';


                    tableBody += '<th class="border-0" scope="col" id="total-table-heading">STATE_UT</th>';
                    tableBody += '<th class="border-0" scope="col" id="total-table-heading">YEAR</th>';
                    tableBody += '<th class="border-0" scope="col" id="total-table-heading">MURDER</th>';
                    tableBody += '<th class="border-0" scope="col" id="total-table-heading">ATTEMPT_TO_MURDER</th>';
                    tableBody += '<th class="border-0" scope="col" id="total-table-heading">CULPABLE_HOMICIDE_NOT_AMOUNTING_TO_MURDER</th>';
                    tableBody += '<th class="border-0" scope="col" id="total-table-heading">RAPE</th>';
                    tableBody += '<th class="border-0" scope="col" id="total-table-heading">CUSTODIAL_RAPE</th>';
                    tableBody += '<th class="border-0" scope="col" id="total-table-heading">OTHER_RAPE</th>';
                    tableBody += '<th class="border-0" scope="col" id="total-table-heading">KIDNAPPING_AND_ABDUCTION</th>';
                    tableBody += '<th class="border-0" scope="col" id="total-table-heading">KIDNAPPING_AND_ABDUCTION_OF_WOMEN_AND_GIRLS</th>';
                    tableBody += '<th class="border-0" scope="col" id="total-table-heading">KIDNAPPING_AND_ABDUCTION_OF_OTHERS</th>';
                    tableBody += '<th class="border-0" scope="col" id="total-table-heading">DACOITY</th>';
                    tableBody += '<th class="border-0" scope="col" id="total-table-heading">PREPARATION_AND_ASSEMBLY_FOR_DACOITY</th>';
                    tableBody += '<th class="border-0" scope="col" id="total-table-heading">ROBBERY</th>';
                    tableBody += '<th class="border-0" scope="col" id="total-table-heading">BURGLARY</th>';
                    tableBody += '<th class="border-0" scope="col" id="total-table-heading">THEFT</th>';
                    tableBody += '<th class="border-0" scope="col" id="total-table-heading">AUTO_THEFT</th>';
                    tableBody += '<th class="border-0" scope="col" id="total-table-heading">OTHER_THEFT</th>';
                    tableBody += '<th class="border-0" scope="col" id="total-table-heading">RIOTS</th>';
                    tableBody += '<th class="border-0" scope="col" id="total-table-heading">CRIMINAL_BREACH_OF_TRUST</th>';
                    tableBody += '<th class="border-0" scope="col" id="total-table-heading">CHEATING</th>';
                    tableBody += '<th class="border-0" scope="col" id="total-table-heading">COUNTERFIETING</th>';
                    tableBody += '<th class="border-0" scope="col" id="total-table-heading">ARSON</th>';
                    tableBody += '<th class="border-0" scope="col" id="total-table-heading">HURT_GREVIOUS_HURT</th>';
                    tableBody += '<th class="border-0" scope="col" id="total-table-heading">DOWRY_DEATHS</th>';
                    tableBody += '<th class="border-0" scope="col" id="total-table-heading">ASSAULT_ON_WOMEN_WITH_INTENT_TO_OUTRAGE_HER_MODESTY</th>';
                    tableBody += '<th class="border-0" scope="col" id="total-table-heading">INSULT_TO_MODESTY_OF_WOMEN</th>';
                    tableBody += '<th class="border-0" scope="col" id="total-table-heading">CRUELTY_BY_HUSBAND_OR_HIS_RELATIVES</th>';
                    tableBody += '<th class="border-0" scope="col" id="total-table-heading">IMPORTATION_OF_GIRLS_FROM_FOREIGN_COUNTRIES</th>';
                    tableBody += '<th class="border-0" scope="col" id="total-table-heading">CAUSING_DEATH_BY_NEGLIGENCE</th>';
                    tableBody += '<th class="border-0" scope="col" id="total-table-heading">OTHER_IPC_CRIMES</th>';
                    tableBody += '<th class="border-0" scope="col" id="total-table-heading">TOTAL_IPC_CRIMES</th>';
                    tableBody += '</tr>';
                    arr = []

                    var st;

                    for (i = 0; i < data.length; i++) {
                        if (data[i].DISTRICT == district.toUpperCase()) {
                            //console.log("yeh bhi chal gya");
                            outdata = data[i];



                            d = outdata;
                            st = d.STATE_UT;

                            tableBody += '<tr><th scope="row">' + d.DISTRICT;
                            tableBody += '</th><td>' + d.STATE_UT;
                            tableBody += '</th><td>' + d.YEAR;
                            tableBody += '</th><td>' + d.MURDER;
                            tableBody += '</th><td>' + d.ATTEMPT_TO_MURDER;
                            tableBody += '</th><td>' + d.CULPABLE_HOMICIDE_NOT_AMOUNTING_TO_MURDER;
                            tableBody += '</th><td>' + d.RAPE;
                            tableBody += '</th><td>' + d.CUSTODIAL_RAPE;
                            tableBody += '</th><td>' + d.OTHER_RAPE;
                            tableBody += '</th><td>' + d.KIDNAPPING_AND_ABDUCTION;
                            tableBody += '</th><td>' + d.KIDNAPPING_AND_ABDUCTION_OF_WOMEN_AND_GIRLS;
                            tableBody += '</th><td>' + d.KIDNAPPING_AND_ABDUCTION_OF_OTHERS;
                            tableBody += '</th><td>' + d.DACOITY;
                            tableBody += '</th><td>' + d.PREPARATION_AND_ASSEMBLY_FOR_DACOITY;
                            tableBody += '</th><td>' + d.ROBBERY;
                            tableBody += '</th><td>' + d.BURGLARY;
                            tableBody += '</th><td>' + d.THEFT;
                            tableBody += '</th><td>' + d.AUTO_THEFT;
                            tableBody += '</th><td>' + d.OTHER_THEFT;
                            tableBody += '</th><td>' + d.RIOTS;
                            tableBody += '</th><td>' + d.CRIMINAL_BREACH_OF_TRUST;
                            tableBody += '</th><td>' + d.CHEATING;
                            tableBody += '</th><td>' + d.COUNTERFIETING;
                            tableBody += '</th><td>' + d.ARSON;
                            tableBody += '</th><td>' + d.HURT_GREVIOUS_HURT;
                            tableBody += '</th><td>' + d.DOWRY_DEATHS;
                            tableBody += '</th><td>' + d.ASSAULT_ON_WOMEN_WITH_INTENT_TO_OUTRAGE_HER_MODESTY;
                            tableBody += '</th><td>' + d.INSULT_TO_MODESTY_OF_WOMEN;
                            tableBody += '</th><td>' + d.CRUELTY_BY_HUSBAND_OR_HIS_RELATIVES;
                            tableBody += '</th><td>' + d.IMPORTATION_OF_GIRLS_FROM_FOREIGN_COUNTRIES;
                            tableBody += '</th><td>' + d.CAUSING_DEATH_BY_NEGLIGENCE;
                            tableBody += '</th><td>' + d.OTHER_IPC_CRIMES;
                            tableBody += '</th><td>' + d.TOTAL_IPC_CRIMES;
                            tableBody += '</td></tr>';
                        }
                    }

                    console.log(st, "state value");


                    data.forEach(function (d) {

                    }
                    );
                    tableBody += '<table>';

                    // FINALLY ADD THE NEWLY CREATED TABLE WITH JSON DATA TO A CONTAINER.

                    var source = "https://www.google.com/maps/embed/v1/place?key=AIzaSyBMRV8kCEFnXyNHjpTevtrr_pb-kb7eqYY&q=" + String(district).split(" ").join("") + String(st).split(" ").join("");


                    console.log(source);
                    document.getElementById('districtmap').src = source;

                    document.getElementById('state_info').innerHTML= st;
                    document.getElementById('district_info').innerHTML= district;
                    document.getElementById('rank_info').innerHTML= rank;

                    var divContainer = document.getElementById("myGrid1");
                    divContainer.innerHTML = tableBody;
                });
            });
            });
        }

    </script>


</head>

<body onload="startTime()">
    <my-header></my-header>




    <!-- <iframe
    width="600"
    height="450"
    style="border:0"
    loading="lazy"
    allowfullscreen
    src=kanpurnagar+Uttarpradesh">
  </iframe> -->


    <div class="row" style="display: flex;
    flex-wrap: nowrap;
    margin-right: -15px;
    margin-left: -15px;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;">
        <form action="#" class="w-75 pt-5" style="
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-evenly;
            align-content: center;
        ">
            <div class="form-group mb-3" style="display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-content: center;
                justify-content: space-evenly;
                align-items: center;">
                <label for="pincode" style="
                    font-size: 22px;
                    font-weight: 600;
                    padding-right: 40px;
                    font-family: monospace;
                ">Enter Pincode</label>
                <input class="form-control" id="pincode" aria-describedby="pincode" style="width: 500px;">
            </div>
            <button type="submit" class="btn btn-primary" style="width: 200px;" onclick="datafillfun()">Search</button>
        </form>

    </div>


    <div class="row pt-4">

        <div class="col-6">
            <div class="wiki-up">
                <div id="wiki-panel" class="col-6">
                    <div class="card bg-primary shadow-inset border-light p-3">
                        <!-- Header -->
                        <div class="card-header shadow-soft border border-light rounded p-3 mb-3">
                            WIKI
                        </div>
                        <!-- End Header -->
                        <!-- Content -->
                        <div class="card-body shadow-soft border border-light rounded p-2 mb-2">
                            <ul class="list-group list-group-flush price-list ">
                                <li class="list-group-item border-primary pb-1"><span
                                        class="fas fa-university"></span>State: 
                                        <div id="state_info"></div>
                                </li>
                                <li class="list-group-item border-primary pb-1"><i class="fas fa-city"></i> &nbsp
                                    District:
                                    <div id="district_info"></div>
                                </li>
                                <li class="list-group-item border-primary pb-1"><span class="far fa-building"></span>
                                    Rank:
                                    <div id="rank_info"></div>
                                </li>
                                <!-- <li class="list-group-item border-primary pb-1"><i class="fas fa-map-marker"></i> &nbsp
                                    Coordinates:
                                    <div id="coordinates_info"></div>
                                </li> -->

                            </ul>
                        </div>
                    </div>
                </div>


                <div id="crime-type" class="col-6">
                    <div class="card bg-primary shadow-inset border-light p-3 ">
                        <!-- Header -->
                        <div class="card-header shadow-soft border border-light rounded p-3 mb-2">
                            Type of Crimes
                        </div>
                        <!-- End Header -->
                        <!-- Content -->
                        <div class="card-body shadow-soft border border-light rounded p-2 " style="overflow: scroll;
                        height: 219px; overflow-x: hidden;">
                            <ul class="list-group list-group-flush price-list ">
                                <div class="card-header shadow-soft border border-light rounded p-2 mb-2">DACOITY </div>
                                <div class="card-header shadow-soft border border-light rounded p-2 mb-2">ROBBERY </div>
                                <div class="card-header shadow-soft border border-light rounded p-2 mb-2">BURGLARY
                                </div>
                                <div class="card-header shadow-soft border border-light rounded p-2 mb-2">COUNTERFIETING
                                </div>
                                <div class="card-header shadow-soft border border-light rounded p-2 mb-2">MURDER </div>
                                <div class="card-header shadow-soft border border-light rounded p-2 mb-2">ATTEMPT TO
                                    MURDER </div>
                                <div class="card-header shadow-soft border border-light rounded p-2 mb-2">RAPE </div>
                                <div class="card-header shadow-soft border border-light rounded p-2 mb-2">CUSTODIAL RAPE
                                </div>
                                <div class="card-header shadow-soft border border-light rounded p-2 mb-2">OTHER RAPE
                                </div>
                                <div class="card-header shadow-soft border border-light rounded p-2 mb-2">KIDNAPPING &
                                    ABDUCTION </div>

                                <div class="card-header shadow-soft border border-light rounded p-2 mb-2">THEFT </div>
                                <div class="card-header shadow-soft border border-light rounded p-2 mb-2">AUTO THEFT
                                </div>
                                <div class="card-header shadow-soft border border-light rounded p-2 mb-2">OTHER THEFT
                                </div>
                                <div class="card-header shadow-soft border border-light rounded p-2 mb-2">RIOTS </div>
                                <div class="card-header shadow-soft border border-light rounded p-2 mb-2">CRIMINAL
                                    BREACH OF TRUST </div>
                                <div class="card-header shadow-soft border border-light rounded p-2 mb-2">CHEATING
                                </div>

                                <div class="card-header shadow-soft border border-light rounded p-2 mb-2">ARSON </div>
                                <div class="card-header shadow-soft border border-light rounded p-2 mb-2">HURT/GREVIOUS
                                    HURT </div>
                                <div class="card-header shadow-soft border border-light rounded p-2 mb-2">DOWRY DEATHS
                                </div>
                                <div class="card-header shadow-soft border border-light rounded p-2 mb-2">INSULT TO
                                    MODESTY OF WOMEN </div>
                                <div class="card-header shadow-soft border border-light rounded p-2 mb-2">CRUELTY BY
                                    HUSBAND OR HIS RELATIVES </div>
                                <div class="card-header shadow-soft border border-light rounded p-2 mb-2">CAUSING DEATH
                                    BY NEGLIGENCE </div>
                                <div class="card-header shadow-soft border border-light rounded p-2 mb-2">OTHER IPC
                                    CRIMES </div>
                                <div class="card-header shadow-soft border border-light rounded p-2 mb-2">TOTAL IPC
                                    CRIMES </div>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>

            <div class="wiki-down pt-3 pl-3 pr-3 pb-2">
                <div id="map-panel" class="">
                    <div class="card bg-primary shadow-inset border-light p-3">
                        <!-- Content -->
                        <div class="card-body shadow-soft border border-light rounded p-2 mb-2">
                            <div style="width: 100%"><iframe width="100%" height="300" frameborder="0" scrolling="no"
                                    marginheight="0" marginwidth="0"
                                    src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=kanpur+(Map)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
                                    id="districtmap"></iframe><a href="https://www.maps.ie/draw-radius-circle-map/"></a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>


        </div>



        <div class="col-6">

            <div id="table-panel" class="pr-5">
                <div id="table">
                    <div class="card bg-primary border-light shadow-soft" style="height:700px;">
                        <div class="table-heading" style="
                    text-align: center;
                    font-weight: 400;
                    font-size: 20px;
                    font-weight: 600;
                    font-family: system-ui;
                    padding-top: 10px;"> Crime Data</div>
                        <div class="card-body" id="myGrid1" style="overflow: scroll">

                        </div>
                    </div>

                </div>
            </div>

        </div>


    </div>





    <div id="middle-line" class="row pt-6" style="justify-content: center;">
        <div class="col-8 card shadow-soft border border-light rounded" style=" height: 7px;">

        </div>

    </div>



    <div class="row lower pt-4">


        <div class="col-4 pl-8">

            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
            <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_yzegai4o.json" background="transparent"
                speed="1" style="width: 400px; height: 400px;" loop autoplay></lottie-player>

        </div>


        <div class="col-4  ">
            <div class="card bg-primary shadow-inset border-light p-3">
                <!-- Header -->
                <div class="card-header shadow-soft border border-light rounded p-3 mb-2">
                    <a href="" style="font-size: 20px;"> &nbsp Resources
                        <script src="https://cdn.lordicon.com/libs/frhvbuzj/lord-icon-2.0.2.js"></script>
                        <lord-icon src="https://cdn.lordicon.com/kvsszuvz.json" trigger="loop"
                            colors="primary:#121331,secondary:#08a88a" style="width:50px;height:50px">
                        </lord-icon>
                    </a>
                </div>
                <!-- End Header -->
                <!-- Content -->
                <div class="card-body shadow-soft border border-light rounded p-2 ">
                    <ul class="list-group list-group-flush price-list ">
                        <div class="card-header shadow-soft border border-light rounded p-2 mb-2">
                            <a href="https://ncrb.gov.in/en/crime-in-india-table-contents?page=9">Crime in India
                                Table Data <i class="fas fa-angle-double-right"></i></a>
                        </div>
                        <div class="card-header shadow-soft border border-light rounded p-2 mb-2">
                            <a href="https://ncrb.gov.in/en/crime-india">NCRB - Data Set <i
                                    class="fas fa-angle-double-right"></i></a>
                        </div>
                        <div class="card-header shadow-soft border border-light rounded p-2 mb-2">
                            <a href="https://www.kaggle.com/rajanand/crime-in-india">Kaggle - Crime in India Data Set <i
                                    class="fas fa-angle-double-right"></i></a>
                        </div>
                        <div class="card-header shadow-soft border border-light rounded p-2 mb-2">
                            <a
                                href="https://knoema.com/NCRB_DCUVSOIPCCD2019/district-wise-crime-under-various-sections-of-indian-penal-code-ipc-crimes-during-2014">
                                Knoema - District-Wise Crime Data Set <i class="fas fa-angle-double-right"></i></a>
                        </div>

                    </ul>
                </div>

            </div>


        </div>
    </div>



    <my-footer></my-footer>

</body>

</html>