<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" constent="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Document</title>
  <link rel="stylesheet" href="{{url_for('static',filename='assets/css/neumorphism.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='assets/css/feed.css')}}"">
  <script src=" https://kit.fontawesome.com/7bdcd846e8.js" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
  </script>

  <script src="https://cdn.lordicon.com/libs/frhvbuzj/lord-icon-2.0.2.js"></script>
  <script>
    function startTime() {
      var time = new Date();
      document.getElementById('txt').innerHTML = time.toLocaleString('en-US', {
        hour: 'numeric',
        minute: 'numeric',
        hour12: true
      });
    }
  </script>

  <!-- header footer script -->
  <script type="module" src="{{url_for('static',filename='assets/javascript/header-footer.js')}}"></script>
</head>

<body onload="startTime()">
  <my-header></my-header>


  <!--Ticker-->
  <!-- <rssapp-ticker id="Akyi2haExE5puxLa"></rssapp-ticker>
  <script src="https://widget.rss.app/v1/ticker.js" type="text/javascript" async></script>
   -->
   <!-- <rssapp-ticker id="th1bmpeVdOM3imOX"></rssapp-ticker><script src="https://widget.rss.app/v1/ticker.js" type="text/javascript" async></script>
   -->
   <rssapp-ticker id="gSCrJ5yiC7NOmYKO"></rssapp-ticker><script src="https://widget.rss.app/v1/ticker.js" type="text/javascript" async></script>
  
  
   <div class="container-fluid">
    <div class="row">&nbsp;</div>

    <div class="row">
      <div class="col">
        <div class="card bg-primary border-light shadow-soft">
          <div class="ml-2 text-dark" style="font-size: large;">
            <center>
              <h3 class="h5 card-title mt-3"> Crime News</h3>
            </center>
          </div>
          <!--crime news card-->
          <!-- <rssapp-wall id="N5bSZjU6RojoySbS"></rssapp-wall>
          <script src="https://widget.rss.app/v1/wall.js" type="text/javascript" async></script> -->
          <!-- <rssapp-wall id="zhMbxYXCdzOMwOf5"></rssapp-wall><script src="https://widget.rss.app/v1/wall.js" type="text/javascript" async></script>
       -->
          <rssapp-wall id="waPRbmjQoPL8Cjty"></rssapp-wall><script src="https://widget.rss.app/v1/wall.js" type="text/javascript" async></script>



        </div>
      </div>
      <div class="col">
        <!--Live news feed-->
        <div class="card bg-primary border-light shadow-soft pl-2 pr-2 pt-2">
          <h3 class="h5 card-title mt-3">
            <p style="color:red">Live</p>
          </h3>

          <!-- start feedwind code -->


          <!-- start feedwind code -->
          <!-- <script type="text/javascript" src="https://feed.mikle.com/js/fw-loader.js" preloader-text="Loading"
            data-fw-param="147988/"></script>
             -->
          <!-- end feedwind code -->
          <!-- <script type="text/javascript" src="https://feed.mikle.com/js/fw-loader.js" preloader-text="Loading"
            data-fw-param="147450/"></script> end feedwind code -->


<!-- start feedwind code --> <script type="text/javascript" src="https://feed.mikle.com/js/fw-loader.js" preloader-text="Loading" data-fw-param="148576/"></script> <!-- end feedwind code -->

          <div class="fw-block" style="position: relative; width: 90%; height: 50px;">





            <script>
              function onClickBack(self, iframeid, id) {
                var iframe = this.document.getElementById(iframeid);
                if (iframe) {
                  iframe.src = ('https:' == location.protocol ? 'https:' : 'http:') + '//feed.mikle.com/widget/v2/' +
                    id +
                    '?id=' + iframeid;
                }
                self.setAttribute("class", "fw-preview-button");
              }
            </script>
          </div>
        </div>
        <div class="pt-5">
          <div class="card bg-primary border-light shadow-soft">
            <div class="ml-2 text-dark" style="font-size: large;">
              <center>
                <h3 class="h5 card-title mt-3"> Top Stories </h3>
              </center>
            </div>
            <!--Top stories-->
            <!-- <rssapp-wall id="ScaZS2Ghbfx8KJym"></rssapp-wall>
            <script src="https://widget.rss.app/v1/wall.js" type="text/javascript" async></script> -->
            <!-- <rssapp-wall id="XzRHbLUVMqBIG4Rt"></rssapp-wall><script src="https://widget.rss.app/v1/wall.js" type="text/javascript" async></script>
           -->
            <rssapp-wall id="g66cT0Xg2aDOrvp5"></rssapp-wall><script src="https://widget.rss.app/v1/wall.js" type="text/javascript" async></script>
          </div>
        </div>


      </div>

    </div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-12">
      <my-footer></my-footer>
    </div>
  </div>

</body>

</html>