<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crime Data Analysis</title>
  <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='index.js')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='graph-panel.css')}}">
  <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>


<!-- neumorphic ui css-->
<link rel="stylesheet" href="{{url_for('static',filename='neumorphism-ui-v1.0.0/html&css/css/neumorphism.css')}}">




  <!-- bootstrap css script -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <!-- bootstrap js script -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>


  <!-- anychart CSS script -->
  <script src="https://cdn.anychart.com/releases/8.9.0/js/anychart-base.min.js" type="text/javascript"></script>
  <script src="https://cdn.anychart.com/releases/8.9.0/js/anychart-core.min.js" type="text/javascript"></script>
  <script src="https://cdn.anychart.com/releases/8.9.0/js/anychart-map.min.js" type="text/javascript"></script>


  <!-- table script -->
  <script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
  <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-alpine.css">
  <script type="text/javascript" src="{{url_for('static',filename='data/table_data2.json')}}"></script>


  <!--Stick Graph-->

  <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js"></script>
  <script src="https://cdn.anychart.com/releases/v8/themes/light_blue.min.js"></script>
  <link href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css" type="text/css" rel="stylesheet">
  <link href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css" type="text/css" rel="stylesheet">
  <style>
    body {
      background-image: url("static/img/Background4.jpg");
      background-size: contain;
    }

    #container1 {
      width: 100%;
      height: 500px;

      display: flex;

      height: 500px;
      width: 100%;
      padding: 0;
      margin-left: auto;

      box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);



      min-height: 200px;
      width: 95vw;
      margin: 100px auto;
      background: white;
      border-radius: 5px;

    }
  </style>

  <!-- dynamic map script  -->

  <script>
    window.onload = function () {

      var dataPoints = [];

      var options = {
        theme: "light2",
        title: {
          text: "Crime Rate Tracker"
        },
        data: [{
          type: "spline",
          dataPoints: dataPoints
        }]
      };

      $("#chartContainer").CanvasJSChart(options);
      updateData();

      // Initial Values
      var xValue = 0;
      var yValue = 10;
      var newDataCount = 6;

      function addData(data) {
        if (newDataCount != 1) {
          $.each(data, function (key, value) {
            dataPoints.push({
              x: value[0],
              y: parseInt(value[1])
            });
            xValue++;
            yValue = parseInt(value[1]);
          });
          newDataCount = 1;
        } else {
          //dataPoints.shift();
          dataPoints.push({
            x: data[0][0],
            y: parseInt(data[0][1])
          });
          xValue++;
          yValue = parseInt(data[0][1]);
        }
        $("#chartContainer").CanvasJSChart().render();
        setTimeout(updateData, 1500);
      }

      function updateData() {
        $.getJSON("https://canvasjs.com/services/data/datapoints.php?xstart=" + xValue + "&ystart=" + yValue +
          "&length=" + newDataCount + "type=json", addData);
      }

    }
  </script>


  <!-- font awsome script -->
  <script src="https://kit.fontawesome.com/7bdcd846e8.js" crossorigin="anonymous"></script>

  <!-- table creation scrippt-->
  <script>

    function datafillfun(n) {

      console.log("testing run...");
      var s = "{{url_for('static',filename='data/table_data2002.json')}}";
      if (n == 1) {
        document.getElementById('dropdownMenuButton').innerHTML = '2001';
        s = "{{url_for('static',filename='data/table_data2001.json')}}";
      }
      else if (n == 2) {
        document.getElementById('dropdownMenuButton').innerHTML = '2002';
        s = "{{url_for('static',filename='data/table_data2002.json')}}";
      }
      else if (n == 3) {
        document.getElementById('dropdownMenuButton').innerHTML = '2003';
        s = "{{url_for('static',filename='data/table_data2003.json')}}";
      }
      else if (n == 4) {
        document.getElementById('dropdownMenuButton').innerHTML = '2004';
        s = "{{url_for('static',filename='data/table_data2004.json')}}";
      }
      else if (n == 5) {
        document.getElementById('dropdownMenuButton').innerHTML = '2005';
        s = "{{url_for('static',filename='data/table_data2005.json')}}";
      }
      else if (n == 6) {
        document.getElementById('dropdownMenuButton').innerHTML = '2006';
        s = "{{url_for('static',filename='data/table_data2006.json')}}";
      }
      else if (n == 7) {
        document.getElementById('dropdownMenuButton').innerHTML = '2007';
        s = "{{url_for('static',filename='data/table_data2007.json')}}";
      }
      else if (n == 8) {
        document.getElementById('dropdownMenuButton').innerHTML = '2008';
        s = "{{url_for('static',filename='data/table_data2008.json')}}";
      }
      else if (n == 9) {
        document.getElementById('dropdownMenuButton').innerHTML = '2009';
        s = "{{url_for('static',filename='data/table_data2009.json')}}";
      }
      else if (n == 10) {
        document.getElementById('dropdownMenuButton').innerHTML = '2010';
        s = "{{url_for('static',filename='data/table_data2010.json')}}";
      }
      else if (n == 11) {
        document.getElementById('dropdownMenuButton').innerHTML = '2011';
        s = "{{url_for('static',filename='data/table_data2011.json')}}";
      }
      else if (n == 12) {
        document.getElementById('dropdownMenuButton').innerHTML = '2012';
        s = "{{url_for('static',filename='data/table_data2012.json')}}";
      }
      else {
        s = "{{url_for('static',filename='data/table_data2011.json')}}";
      }

      console.log(n, s);


      document.getElementById('myGrid').innerHTML = '';


      // function for reading json file
      function readTextFile(file, callback) {
        var rawFile = new XMLHttpRequest();
        rawFile.overrideMimeType("application/json");
        rawFile.open("GET", file, true);
        rawFile.onreadystatechange = function () {
          if (rawFile.readyState === 4 && rawFile.status == "200") {
            callback(rawFile.responseText);
          }
        }
        rawFile.send(null);
      }

      readTextFile(s, function (text) {
        var data = JSON.parse(text);
        console.log(data);



        var tableBody = '<table class="table shadow-soft rounded"><tr class="table-active"><th scope="col">STATE\/UT</th><th>TOTAL IPC CRIMES</th scope="col"></tr>';

        data.forEach(function (d) {
          tableBody += '<tr><th scope="row">' + d.STATE_UT + '</th><td>' + d.TOTAL_IPC_CRIMES + '</td></tr>';
        });
        tableBody += '<tbody><table>';

        // FINALLY ADD THE NEWLY CREATED TABLE WITH JSON DATA TO A CONTAINER.

        var divContainer = document.getElementById("myGrid");
        divContainer.innerHTML = tableBody;
      });
    }
  </script>





</head>


<body onload="datafillfun(1)" >

  <!---Nav Bar--->
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="index.html">Home</a>
        <a href="#">CrimeLocator</a>
        <a href="#">CrimeHeatmap</a>
        <a href="#">CrimePredictor</a>
        <a href="feed.html">CrimeFeed</a>

        <a href="#">About</a>
        <a href="#">Help</a>

      </div>
      <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>

      <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }
      </script>

      <a class="navbar-brand" href="#"></a>
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="navbar-brand" href="#"> <img src="{{ url_for('static',filename='img/website-icon.png')}}"
                alt="home" height="40px"></a>
          </li>
          <li class="nav-item">
            <a class="btn btn-light" href="#" role="button">Home</a>
            <!--PUT link here-->
          </li>
          <li class="nav-item">
            <a class="btn btn-light" href="{{url_for('static',filename='heatmap_final.html')}}"
              target="_blank">CrimeMap</a>
            <!--PUT link here-->
          </li>
          <li class="nav-item">
            <a class="btn btn-light" href="#" role="button">CrimeLocator</a>
            <!--PUT link here-->
          </li>
          <li class="nav-item">
            <a class="btn btn-light" href="feed.html" role="button">CrimeFeed</a>
            <!--PUT link here-->
          </li>
          <li class="nav-item">
            <a class="btn btn-light" href="#" role="button">About Us</a>
            <!--PUT link here-->
          </li>
          <li class="nav-item">
            <a class="btn btn-light" href="#" role="button">Help</a>
            <!--PUT link here-->
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
          <!--PUT required items for serarch or remove the option-->
        </form>
        <!--to remove search delete form portion only-->
      </div>
    </div>
  </nav>



  <!--check-->
  <div class="container-fluid">

    <!-- dropdown to select year-->
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Select Year
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#" onclick="datafillfun(1)">2001</a>
        <a class="dropdown-item" href="#" onclick="datafillfun(2)">2002</a>
        <a class="dropdown-item" href="#" onclick="datafillfun(3)">2003</a>
        <a class="dropdown-item" href="#" onclick="datafillfun(4)">2004</a>
        <a class="dropdown-item" href="#" onclick="datafillfun(5)">2005</a>
        <a class="dropdown-item" href="#" onclick="datafillfun(6)">2006</a>
        <a class="dropdown-item" href="#" onclick="datafillfun(7)">2007</a>
        <a class="dropdown-item" href="#" onclick="datafillfun(8)">2008</a>
        <a class="dropdown-item" href="#" onclick="datafillfun(9)">2009</a>
        <a class="dropdown-item" href="#" onclick="datafillfun(10)">2010</a>
        <a class="dropdown-item" href="#" onclick="datafillfun(11)">2011</a>
        <a class="dropdown-item" href="#" onclick="datafillfun(12)">2012</a>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-6 col-12">
        <div class="overflow-auto">

          <!-- Table -->
          <div id="myGrid"></div>

        </div>
      </div>


      <div class="col-lg-6 col-12">
        <div id="container" style="
  margin-right: 0px;
  margin-left: 0px;
  width: 600px;
  height: 600px;">

          <div id="anychart-embed-countries-india" class="anychart-embed anychart-embed-countries-india"
            style="height: 1000px; width: 10px;">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.15/proj4.js"></script>
            <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
            <script src="https://cdn.anychart.com/releases/v8/js/anychart-map.min.js"></script>
            <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js"></script>
            <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js"></script>
            <script src="https://cdn.anychart.com/geodata/2.1.0/countries/india/india.js"></script>
            <div id="ac_style_countries-india" style="display:none;">
            </div>
            <script>
              (function () {
                function ac_add_to_head(el) {
                  var head = document.getElementsByTagName('head')[0];
                  head.insertBefore(el, head.firstChild);
                }

                function ac_add_link(url) {
                  var el = document.createElement('link');
                  el.rel = 'stylesheet';
                  el.type = 'text/css';
                  el.media = 'all';
                  el.href = url;
                  ac_add_to_head(el);
                }

                function ac_add_style(css) {
                  var ac_style = document.createElement('style');
                  if (ac_style.styleSheet) ac_style.styleSheet.cssText = css;
                  else ac_style.appendChild(document.createTextNode(css));
                  ac_add_to_head(ac_style);
                }
                ac_add_link('https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css');
                ac_add_style(document.getElementById("ac_style_countries-india").innerHTML);
                ac_add_style(".anychart-embed-countries-india{width:600px;height:450px;}");
              })();
            </script>

            <script>
              anychart.onDocumentReady(function () {
                // create map
                var map = anychart.map();

                // create data set
                var dataSet = anychart.data.set(
                  [{
                    "id": "IN.AN",
                    "value": 0
                  },
                  {
                    "id": "IN.AP",
                    "value": 1
                  },
                  {
                    "id": "IN.AR",
                    "value": 2
                  },
                  {
                    "id": "IN.AS",
                    "value": 3
                  },
                  {
                    "id": "IN.BR",
                    "value": 4
                  },
                  {
                    "id": "IN.CH",
                    "value": 5
                  },
                  {
                    "id": "IN.CT",
                    "value": 6
                  },
                  {
                    "id": "IN.DN",
                    "value": 7
                  },
                  {
                    "id": "IN.DD",
                    "value": 8
                  },
                  {
                    "id": "IN.DL",
                    "value": 9
                  },
                  {
                    "id": "IN.GA",
                    "value": 10
                  },
                  {
                    "id": "IN.GJ",
                    "value": 11
                  },
                  {
                    "id": "IN.HR",
                    "value": 12
                  },
                  {
                    "id": "IN.HP",
                    "value": 13
                  },
                  {
                    "id": "IN.JH",
                    "value": 14
                  },
                  {
                    "id": "IN.KA",
                    "value": 15
                  },
                  {
                    "id": "IN.KL",
                    "value": 16
                  },
                  {
                    "id": "IN.LD",
                    "value": 17
                  },
                  {
                    "id": "IN.MP",
                    "value": 18
                  },
                  {
                    "id": "IN.MH",
                    "value": 19
                  },
                  {
                    "id": "IN.MNL",
                    "value": 20
                  },
                  {
                    "id": "IN.ML",
                    "value": 21
                  },
                  {
                    "id": "IN.MZ",
                    "value": 22
                  },
                  {
                    "id": "IN.NL",
                    "value": 23
                  },
                  {
                    "id": "IN.OR",
                    "value": 24
                  },
                  {
                    "id": "IN.PY",
                    "value": 25
                  },
                  {
                    "id": "IN.PB",
                    "value": 26
                  },
                  {
                    "id": "IN.RJ",
                    "value": 27
                  },
                  {
                    "id": "IN.SK",
                    "value": 28
                  },
                  {
                    "id": "IN.TN",
                    "value": 29
                  },
                  {
                    "id": "IN.TR",
                    "value": 30
                  },
                  {
                    "id": "IN.UP",
                    "value": 31
                  },
                  {
                    "id": "IN.UT",
                    "value": 32
                  },
                  {
                    "id": "IN.WB",
                    "value": 33
                  },
                  {
                    "id": "IN.TG",
                    "value": 34
                  },
                  {
                    "id": "IN.JK",
                    "value": 35
                  },
                  {
                    "id": "IN.LA",
                    "value": 36
                  }
                  ]
                );


                series = map.choropleth(dataSet);

                series.geoIdField('id');


                series.colorScale(anychart.scales.linearColor('#deebf7', '#3182bd'));
                series.hovered().fill('#addd8e');

                // https://cdn.anychart.com/#maps-collection
                map.geoData(anychart.maps['india']);


                map.container('container');


                map.draw();
              });
            </script>
          </div>
        </div>
      </div>
    </div>
    <!--check-->


    <div class="graph-panel">
      <!-- dynamic graph -->

      <div id="dynamic-graph">
        <div id="chartContainer" style="height: 500px; width: 700px;"></div>
        <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
        <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
      </div>
    </div>


    <!--check2-->
    <div id="container1"></div>

    <div class="graph-panel">

      <div class="card">
        <div class="card-image"></div>
        <div class="card-text">
          <span class="date">4 days ago</span>
          <h2>Post One</h2>
          <p>Lorem ipsum dolor sit amet consectetur, Ducimus, repudiandae temporibus omnis illum maxime quod deserunt
            eligendi dolor</p>
        </div>
        <div class="card-stats">
          <div class="stat">
            <div class="value">4<sup>m</sup></div>
            <div class="type">read</div>
          </div>
          <div class="stat border">
            <div class="value">5123</div>
            <div class="type">views</div>
          </div>
          <div class="stat">
            <div class="value">32</div>
            <div class="type">comments</div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-image card2"></div>
        <div class="card-text card2">
          <span class="date">1 week ago</span>
          <h2>Post Two</h2>
          <p>Adipisicing elit. Ducimus, repudiandae corrupti amet temporibus omnis provident illum maxime quod. Lorem
            ipsum dolor</p>
        </div>
        <div class="card-stats card2">
          <div class="stat">
            <div class="value">7<sup>m</sup></div>
            <div class="type">read</div>
          </div>
          <div class="stat border">
            <div class="value">7152</div>
            <div class="type">views</div>
          </div>
          <div class="stat">
            <div class="value">21</div>
            <div class="type">comments</div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-image card3"></div>
        <div class="card-text card3">
          <span class="date">3 week ago</span>
          <h2>Post Three</h2>
          <p>Repudiandae corrupti amet temporibus omnis provident illum maxime. Ducimus, lorem ipsum dolor adipisicing
            elit</p>
        </div>
        <div class="card-stats card3">
          <div class="stat">
            <div class="value">5<sup>m</sup></div>
            <div class="type">read</div>
          </div>
          <div class="stat border">
            <div class="value">3021</div>
            <div class="type">views</div>
          </div>
          <div class="stat">
            <div class="value">15</div>
            <div class="type">comments</div>
          </div>
        </div>
      </div>
    </div>


    <script>
      anychart.onDocumentReady(function () {
        // set chart theme
        anychart.theme('lightBlue');
        // create column chart
        var chart = anychart.column();
        // turn on chart animation
        chart.animation(true);
        // set chart title text settings
        chart.title('Crime Rates of States and UTs');

        // create area series with passed data
        chart.stick(getData());

        // set scale minimum
        chart.yScale().minimum(0).ticks({
          interval: 5
        });

        // tooltips position and interactivity settings
        chart.interactivity().hoverMode('by-x');

        // axes titles
        chart.yAxis().title('Crime Rate');
        chart.xAxis().labels().rotation(-90);
        // set container id for the chart
        chart.container('container1');
        // initiate chart drawing
        chart.draw();
      });

      function getData() {
        return [
          ['ANDHRA PRADESH', 64],
          ['ARUNACHAL PRADESH', 55],
          ['BIHAR', 78],
          ['CHHATTISGARH', 45],
          ['GOA', 22],
          ['GUJARAT', 35],
          ['HARYANA', 75],
          ['HIMACHAL PRADESH', 32],
          ['JAMMU & KASHMIR', 76],
          ['JHARKHAND', 65],
          ['KARNATAKA', 42],
          ['KERALA', 37],
          ['MADHYA PRADESH', 65],
          ['PUDUCHERRY', 26],
          ['MAHARASHTRA', 30],
          ['MEGHALAYA', 27],
          ['MIZORAM', 26],
          ['NAGALAND', 24],
          ['ODISHA', 35],
          ['PUNJAB', 60],
          ['RAJASTHAN', 50],
          ['SIKKIM', 35],
          ['TAMIL NADU', 55],
          ['TRIPURA', 35],
          ['UTTAR PRADESH', 80],
          ['UTTARAKHAND', 65],
          ['WEST BENGAL', 72],
          ['ANDAMAN AND NICOBAR ISLANDS', 21],
          ['CHANDIGARH', 39],
          ['D & N HAVELI', 27],
          ['DELHI UT', 81],
          ['LAKSHADWEEP', 23]
        ];
      }
    </script>
    <!--check2-->






    <!-- Footer of the page -->
    <div class="footer">
      <i class="fas fa-chart-bar"></i> Crime Data Analytics © 2020. All rights reserved.
    </div>
</body>

</html>