=<html>
    <head>
        <title>Convert JSON Data to HTML Table</title>
    
<!-- bootstrap css script -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

<!-- bootstrap js script -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script>
       
    
    // json
         
        // CREATE DYNAMIC TABLE.
function CreateTableFromJSON()
{       

  
        // function for reading json file
        function readTextFile(file, callback) {
          var rawFile = new XMLHttpRequest();
          rawFile.overrideMimeType("application/json");
          rawFile.open("GET", file, true);
          rawFile.onreadystatechange = function () {
            if (rawFile.readyState === 4 && rawFile.status == "200") {
              callback(rawFile.responseText);
            }
          }
          rawFile.send(null);
        }

          var s="{{url_for('static',filename='data/table_data2002.json')}}";
          console.log(s);

          
          //document.getElementById('myGrid').innerHTML ='';
          readTextFile(s, function (text) {
          var data = JSON.parse(text);
          console.log(data);

            

          var tableBody = '<table class="table table-bordered table-hover"><thead><tr><th scope="col">STATE\/UT</th><th>TOTAL IPC CRIMES</th scope="col"></tr></thead><tbody>';
           
           data.forEach(function(d)
           {
               tableBody += '<tr><th scope="row">'+d.STATE_UT+'</th><td>'+d.TOTAL_IPC_CRIMES+'</td></tr>';   
           });
               tableBody += '<tbody><table>';
       
           // FINALLY ADD THE NEWLY CREATED TABLE WITH JSON DATA TO A CONTAINER.
             
              var divContainer = document.getElementById("showData");
                 divContainer.innerHTML = tableBody;
              });
      }
    </script>






       
    </head>
    <body>
        <input type="button" onclick="CreateTableFromJSON()" value="Create Table From JSON" />
        <p id="showData"></p>
    </body>
     </html>