<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/templates/neumorphism/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/templates/neumorphism/assets/css/about.css">
    <link rel="stylesheet" href="/templates/neumorphism/assets/css/neumorphism.css">

    <!-- header footer  script -->
    <script type="module" src="/templates/neumorphism/assets/javascript/header-footer.js"></script>
    

    <script src="https://kit.fontawesome.com/07e47d8e81.js" crossorigin="anonymous"></script>
    <script src="neumorphism/html&css/assets/js/neumorphism.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>

    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="/index.php"></script>
    <!-- -----------------icons---------------- -->
    <script src="https://kit.fontawesome.com/7bdcd846e8.js" crossorigin="anonymous"></script>


    <script src="https://cdn.lordicon.com/libs/frhvbuzj/lord-icon-2.0.2.js"></script>
    
  <!-- live time -->
  <script>
    function startTime() {
      var time = new Date();
      document.getElementById('txt').innerHTML = time.toLocaleString('en-US', {
        hour: 'numeric',
        minute: 'numeric',
        hour12: true
      });
    }
  </script>
  <!-- sound script -->
  <script>
    function audio() {
      var audio = new Audio("/templates/neumorphism/assets/sound/click-sound.mp3");
      audio.play();

    }
  </script>

</head>

<body  onload="startTime()">
    <header class = "navbar navbar-nav navbar-expand navbar-light navbar-theme-primary">
        <div class="container-fluid px-3 px-md-4">


            <!-- -----------------website name and icon-------------- -->

            <div class="d-flex align-item pt-2 pb-2 pr-2s-center">
                <a class="navbar-brand shadow-soft py-2 px-3 rounded border border-light mr-xl-4" href="#">

                    <span class="ml-2 text-dark" style="font-size: large;"><i class="fas fa-chart-pie"></i>&nbsp &nbsp
                        Crime Data
                        Analytics</span>
                </a>
            </div>

            <!----------------------time------------------------------------ -->
            <!-- 
          <div class="d-flex align-item pt-2 pb-2 pr-2s-center">
            <a class="navbar-brand shadow-soft py-2 px-3 rounded border border-light mr-xl-4" href="#">
              
              <div id="txt"><span class="ml-2 text-dark" style="font-size:xx-large;"></span> </div> 
            </a>
          </div> -->


            <!-- ---------------------nav-bar-item pt-2 pb-2 pr-2s---------------------------- -->
            <div class="d-flex align-item pt-2 pb-2 pr-2s-center">
                <div class="d-none d-lg-block">
                    <a href="#" class="btn btn-primary text-dark mr-3"><i class="fas fa-home"></i>&nbsp Home</a>
                    <a href="#" class="btn btn-primary text-dark mr-3"><i class="fas fa-globe-asia"></i>&nbsp
                        CrimeMap</a>
                    <a href="#" class="btn btn-primary text-dark mr-3"><i class="fas fa-map-marker-alt"></i> &nbsp
                        CrimeLocator</a>
                    <a href="#" class="btn btn-primary text-dark mr-3"><i class="fas fa-newspaper"></i>&nbsp
                        CrimeFeed</a>
                    <a href="#" class="btn btn-primary text-dark mr-3"><i class="fas fa-user-secret"></i>&nbsp About
                        Us</a>
                    <a href="#" class="btn btn-primary text-dark mr-3"><i class="fas fa-info-circle"></i>&nbsp Help</a>
                </div>
            </div>


            <!-- <button class="btn btn-icon-only " type="button" aria-label="love button" title="love button"  onclick="audio()">
            <span aria-hidden="true" class="far fa-heart"></span>
          </button> -->



            <a href="#" class="btn-emoji" onclick="audio()">
                <i class="far fa-grin-tongue"></i>
            </a>


            <div id="txt"> </div>

        </div>
    </header>

    <div class="container-fluid"> </div>
    <div class="row pt-6">


    </div>

    <!-- -->
    <section class="wwww">
        <div class="container">
            <div class="row mt-5">
                <div class="col">
                    <div class="card-container" id="demo">
                        <div class="cardww" tabindex="0">
                            <h2>Cars</h2><img
                                src="https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/illustrations/fast_car_p4cu.svg"
                                width="100%">
                        </div>
                        <div class="cardww" tabindex="0">
                            <h2>Shop</h2><img
                                src="https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/illustrations/business_shop_qw5t.svg"
                                width="100%">
                        </div>
                        <div class="cardww" tabindex="0">
                            <h2>Building</h2><img
                                src="https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/illustrations/apartment_rent_o0ut.svg"
                                width="100%">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>




    <!-- -----------------------------------------------------------------------profile cards------------------------------------------------------------------------------------ -->

    <div class="row pt-8 pr-5 pl-5">
        <div class="col-3 ">
            <!-- Profile Card -->
            <div class="profile-card mb-5 pl-2 pr-2">
                <div class="card bg-primary shadow-inset border-light text-center">
                    <div class="card-header">
                        <div
                            class="profile-image bg-primary shadow-inset border border-light rounded mx-auto p-3 mt-n6">
                            <img src="neumorphism/html&css/assets/img/team/profile-picture-4.jpg"
                                class="card-img-top rounded" alt="Leos Portrait">
                        </div>
                    </div>
                    <div class="card-body pb-5">
                        <h3 class="h5 mb-2">Jose Leos</h3>
                        <span class="h6 font-weight-normal text-gray mb-3">Co-Founder</span>
                        <ul class="list-unstyled d-flex justify-content-center mt-3 mb-4">
                            <li>
                                <a href="#" target="_blank" aria-label="facebook social link"
                                    class="icon icon-xs icon-facebook mr-3">
                                    <span class="fab fa-facebook-f"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" aria-label="twitter social link"
                                    class="icon icon-xs icon-twitter mr-3">
                                    <span class="fab fa-twitter"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" aria-label="slack social link"
                                    class="icon icon-xs icon-slack mr-3">
                                    <span class="fab fa-slack-hash"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" aria-label="dribbble social link"
                                    class="icon icon-xs icon-dribbble mr-3">
                                    <span class="fab fa-dribbble"></span>
                                </a>
                            </li>
                        </ul>
                        <a class="btn btn-sm btn-primary mr-3" href="#">
                            <span class="fas fa-user-plus mr-1"></span> Follow
                        </a>
                        <a class="btn btn-sm btn-primary" href="#">
                            Message
                        </a>
                    </div>
                </div>
            </div>
            <!-- End of Profile Card -->
        </div>
        <div class="col-3">
            <!-- Profile Card -->
            <div class="profile-card mb-5 pl-2 pr-2">
                <div class="card bg-primary shadow-inset border-light text-center">
                    <div class="card-header">
                        <div
                            class="profile-image bg-primary shadow-inset border border-light rounded mx-auto p-3 mt-n6">
                            <img src="neumorphism/html&css/assets/img/team/profile-picture-4.jpg"
                                class="card-img-top rounded" alt="Leos Portrait">
                        </div>
                    </div>
                    <div class="card-body pb-5">
                        <h3 class="h5 mb-2">Jose Leos</h3>
                        <span class="h6 font-weight-normal text-gray mb-3">Co-Founder</span>
                        <ul class="list-unstyled d-flex justify-content-center mt-3 mb-4">
                            <li>
                                <a href="#" target="_blank" aria-label="facebook social link"
                                    class="icon icon-xs icon-facebook mr-3">
                                    <span class="fab fa-facebook-f"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" aria-label="twitter social link"
                                    class="icon icon-xs icon-twitter mr-3">
                                    <span class="fab fa-twitter"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" aria-label="slack social link"
                                    class="icon icon-xs icon-slack mr-3">
                                    <span class="fab fa-slack-hash"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" aria-label="dribbble social link"
                                    class="icon icon-xs icon-dribbble mr-3">
                                    <span class="fab fa-dribbble"></span>
                                </a>
                            </li>
                        </ul>
                        <a class="btn btn-sm btn-primary mr-3" href="#">
                            <span class="fas fa-user-plus mr-1"></span> Follow
                        </a>
                        <a class="btn btn-sm btn-primary" href="#">
                            Message
                        </a>
                    </div>
                </div>
            </div>
            <!-- End of Profile Card -->
        </div>
        <div class="col-3">
            <!-- Profile Card -->
            <div class="profile-card mb-5 pl-2 pr-2">
                <div class="card bg-primary shadow-inset border-light text-center">
                    <div class="card-header">
                        <div
                            class="profile-image bg-primary shadow-inset border border-light rounded mx-auto p-3 mt-n6">
                            <img src="neumorphism/html&css/assets/img/team/profile-picture-4.jpg"
                                class="card-img-top rounded" alt="Leos Portrait">
                        </div>
                    </div>
                    <div class="card-body pb-5">
                        <h3 class="h5 mb-2">Jose Leos</h3>
                        <span class="h6 font-weight-normal text-gray mb-3">Co-Founder</span>
                        <ul class="list-unstyled d-flex justify-content-center mt-3 mb-4">
                            <li>
                                <a href="#" target="_blank" aria-label="facebook social link"
                                    class="icon icon-xs icon-facebook mr-3">
                                    <span class="fab fa-facebook-f"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" aria-label="twitter social link"
                                    class="icon icon-xs icon-twitter mr-3">
                                    <span class="fab fa-twitter"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" aria-label="slack social link"
                                    class="icon icon-xs icon-slack mr-3">
                                    <span class="fab fa-slack-hash"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" aria-label="dribbble social link"
                                    class="icon icon-xs icon-dribbble mr-3">
                                    <span class="fab fa-dribbble"></span>
                                </a>
                            </li>
                        </ul>
                        <a class="btn btn-sm btn-primary mr-3" href="#">
                            <span class="fas fa-user-plus mr-1"></span> Follow
                        </a>
                        <a class="btn btn-sm btn-primary" href="#">
                            Message
                        </a>
                    </div>
                </div>
            </div>
            <!-- End of Profile Card -->
        </div>
        <div class="col-3">
            <!-- Profile Card -->
            <div class="profile-card mb-5 pl-2 pr-2">
                <div class="card bg-primary shadow-inset border-light text-center">
                    <div class="card-header">
                        <div
                            class="profile-image bg-primary shadow-inset border border-light rounded mx-auto p-3 mt-n6">
                            <img src="neumorphism/html&css/assets/img/team/profile-picture-4.jpg"
                                class="card-img-top rounded" alt="Leos Portrait">
                        </div>
                    </div>
                    <div class="card-body pb-5">
                        <h3 class="h5 mb-2">Jose Leos</h3>
                        <span class="h6 font-weight-normal text-gray mb-3">Co-Founder</span>
                        <ul class="list-unstyled d-flex justify-content-center mt-3 mb-4">
                            <li>
                                <a href="#" target="_blank" aria-label="facebook social link"
                                    class="icon icon-xs icon-facebook mr-3">
                                    <span class="fab fa-facebook-f"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" aria-label="twitter social link"
                                    class="icon icon-xs icon-twitter mr-3">
                                    <span class="fab fa-twitter"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" aria-label="slack social link"
                                    class="icon icon-xs icon-slack mr-3">
                                    <span class="fab fa-slack-hash"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" aria-label="dribbble social link"
                                    class="icon icon-xs icon-dribbble mr-3">
                                    <span class="fab fa-dribbble"></span>
                                </a>
                            </li>
                        </ul>
                        <a class="btn btn-sm btn-primary mr-3" href="#">
                            <span class="fas fa-user-plus mr-1"></span> Follow
                        </a>
                        <a class="btn btn-sm btn-primary" href="#">
                            Message
                        </a>
                    </div>
                </div>
            </div>
            <!-- End of Profile Card -->
        </div>
    </div>

    <!-- ---------------------------------------------------------------------------profile cards----------------------------------------------------------------------------------- -->
    <div class="container">
        <div class="row pt-6">

            <div class="col">
                <div class="row">
                    <div class="col-12">
                        <div class="card bg-primary shadow-soft border-light mb-6">
                            <div class="card-body px-5 py-5 text-center text-md-left">
                                <div class="row align-items-center">
                                    <div class="col-md-6">
                                        <h2 class="mb-3">Get in touch</h2>
                                        <p class="mb-0">
                                            If you need any help with our products or services, choose one of the
                                            following ways to contact us.
                                        </p>
                                    </div>
                                    <div class="col-12 col-md-6 mt-4 mt-md-0 text-md-right">
                                        <a href="#" class="btn btn-primary">
                                            <span class="mr-1">
                                                <span class="fas fa-headphones"></span>
                                            </span>
                                            Contact Us
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>

    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">

        </div>
        <div class="col-3"></div>
    </div>


    <my-footer></my-footer>

</body>

</html>