<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrimeCharts</title>
    <link rel="stylesheet" href="/templates/neumorphism/assets/css/crime-charts.css">
    <link rel="stylesheet" href="/templates/neumorphism/assets/css/neumorphism.css">

    <script src="/templates/neumorphism/assets/javascript/crime-charts.js"></script>

    <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>

    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>


    <script src="https://kit.fontawesome.com/7bdcd846e8.js" crossorigin="anonymous"></script>

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>


    <!-- live time -->
    <script>
        function startTime() {
            var time = new Date();
            document.getElementById('txt').innerHTML = time.toLocaleString('en-US', {
                hour: 'numeric',
                minute: 'numeric',
                hour12: true
            });
        }
    </script>







    <!-- -------------------google charts scripts starts--------------------------- -->



    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        // Load the Visualization API and the corechart package.
        google.charts.load('current', {
            'packages': ['corechart']
        });

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {

            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Topping');
            data.addColumn('number', 'Slices');
            data.addRows([
                ['Mushrooms', 3],
                ['Onions', 1],
                ['Olives', 1],
                ['Zucchini', 1],
                ['Pepperoni', 2]
            ]);

            // Set chart options
            var options = {
                'title': 'How Much Pizza I Ate Last Night',
                'width': 400,
                'height': 300
            };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>





    <!-- -------------------google charts scripts ends--------------------------- -->


    <script>
        function insertMap() {
            document.getElementById("mapArea").innerHTML = ''
        }
    </script>








    <!-- sound script -->
    <script>
        function audio() {
            var audio = new Audio("/templates/neumorphism//assets/sound/click-sound.mp3");
            audio.play();

        }
    </script>

    <!-- header footer script -->

    <script type="module" src="/templates/neumorphism/assets/javascript/header-footer.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

    <!-- dropdown functionality script -->

    <script>
        function dropdownfun() {

            console.log("testing run...");
            /*
            var s = "/templates/neumorphism/assets/data/fulldata2001.json";
            if (document.getElementById('2001-check').checked == true) {
            document.getElementById('dropdownMenuButton').innerHTML = '2001';
            s = "/templates/neumorphism/assets/data/fulldata2001.json";
            }
            */

            dataset = document.getElementById("inlineFormCustomSelectPref0").value;
            typeofcrime = document.getElementById("inlineFormCustomSelectPref1").value;
            year = document.getElementById("inlineFormCustomSelectPref2").value;
            state = document.getElementById("inlineFormCustomSelectPref3").value;
            console.log(dataset);
            console.log(typeofcrime);
            console.log(year);
            console.log(state);

            var arr = []
            arr.push(dataset);
            arr.push(typeofcrime);
            arr.push(year);
            arr.push(state);

            var obj = {
                'x': arr
            };

            localStorage.setItem('myStorage', JSON.stringify(obj));

            var obj1 = JSON.parse(localStorage.getItem('myStorage'));

            console.log(obj1);

        }
    </script>





</head>



<body onload="startTime()">



    <my-header></my-header>



    <!-- row for toolbar -->
    <div class="row pl-4" id="toolbar" style="display: flex; flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center;">
        <!-- <div id="toolbar" class="col-9 pl-1"> -->
        <div id="table-buttons" class="row pl-5" style="display: flex;
        flex-wrap: nowrap;
        margin-right: -15px;
        margin-left: -15px;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: flex-start;
    ">
            <div class="btn table-buttons-item">Select Charts &nbsp <img src="/templates/neumorphism/assets/images/scroll-gif.gif"
                    alt="scroll-down-animation" style="width: 30px; height: 30px;">
            </div>
            <div class="table-buttons-item">
                <span><i class="far fa-file-alt"></i></i></span>
            </div>
            <!-- dropdown button-1 [Data Set] -->
            <div id="item-1" class="table-buttons-item">
                <div class="drop-1">
                    <div class="dropdown1">
                        <button class="dropdown1-button outset-neomo">
                            Data Set
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown1-content">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked>
                                <label class="form-check-label" for="defaultCheck1">
                                    <a href="#">Past Data </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                                <label class="form-check-label" for="defaultCheck2">
                                    <a href="#">Webscrapped Data </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                                <label class="form-check-label" for="defaultCheck3">
                                    <a href="#">Predicted Data </a>
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="table-buttons-item">
                <span><i class="fas fa-filter"></i></span>
            </div>
            <!-- dropdown button-2 [Select Data Items] -->
            <div id="item-2" class="table-buttons-item">
                <div class="drop-1">
                    <div class="dropdown1">
                        <button class="dropdown1-button outset-neomo ">
                            Options &nbsp;
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown1-content">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Total" id="total-check" checked>
                                <label class="form-check-label" for="total-check">
                                    <a href="#">All</a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Murder" id="murder-check">
                                <label class="form-check-label" for="murder-check">
                                    <a href="#">Murder</a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Kidnapping"
                                    id="kidnapping-check">
                                <label class="form-check-label" for="kidnapping-check">
                                    <a href="#">Kidnapping</a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Robbery" id="robbery-check">
                                <label class="form-check-label" for="robbery-check">
                                    <a href="#">Robbery</a>
                                </label>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="table-buttons-item">
                <span><i class="far fa-calendar-alt"></i></i></span>
            </div>
            <!-- dropdown button-3 [Select Year] -->
            <div id="item-2" class="table-buttons-item">
                <div class="drop-1">
                    <div class="dropdown1">
                        <button class="dropdown1-button outset-neomo " id="dropdownMenuButton">
                            Select Year &nbsp;
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown1-content">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="2001" id="2001-check" checked>
                                <label class="form-check-label" for="2001-check">
                                    <a href="#" onclick="datafillfun(1)">2001</a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="2002" id="2002-check">
                                <label class="form-check-label" for="2002-check">
                                    <a href="#" onclick="datafillfun(2)">2002</a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="2003" id="2003-check">
                                <label class="form-check-label" for="2003-check">
                                    <a href="#" onclick="datafillfun(3)">2003</a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="2004" id="2004-check">
                                <label class="form-check-label" for="2004-check">
                                    <a href="#" onclick="datafillfun(4)">2004</a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="2005" id="2005-check">
                                <label class="form-check-label" for="2005-check">
                                    <a href="#" onclick="datafillfun(5)">2005</a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="2006" id="2006-check">
                                <label class="form-check-label" for="2006-check">
                                    <a href="#" onclick="datafillfun(6)">2006</a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="2007" id="2007-check">
                                <label class="form-check-label" for="2007-check">
                                    <a href="#" onclick="datafillfun(7)">2007</a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="2008" id="2008-check">
                                <label class="form-check-label" for="2008-check">
                                    <a href="#" onclick="datafillfun(8)">2008</a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="2009" id="2009-check">
                                <label class="form-check-label" for="2009-check">
                                    <a href="#" onclick="datafillfun(9)">2009</a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="2010" id="2010-check">
                                <label class="form-check-label" for="2010-check">
                                    <a href="#" onclick="datafillfun(10)">2010</a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="2011" id="2011-check">
                                <label class="form-check-label" for="2011-check">
                                    <a href="#" onclick="datafillfun(11)">2011</a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="2012" id="2012-check">
                                <label class="form-check-label" for="2012-check">
                                    <a href="#" onclick="datafillfun(12)">2012</a>
                                </label>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- dropdown button-4 select state -->
            <div id="item-4" class="table-buttons-item">
                <div class="drop-1">
                    <div class="dropdown1">
                        <button class="dropdown1-button outset-neomo">
                            States
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown1-content">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck 1 ">
                                <label class="form-check-label" for="defaultCheck 1 ">
                                    <a href="#"> Andhra Pradesh </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck 2 ">
                                <label class="form-check-label" for="defaultCheck 2 ">
                                    <a href="#"> Arunachal Pradesh </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck 3 ">
                                <label class="form-check-label" for="defaultCheck 3 ">
                                    <a href="#"> Assam </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck 4 ">
                                <label class="form-check-label" for="defaultCheck 4 ">
                                    <a href="#"> Bihar </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck 5 ">
                                <label class="form-check-label" for="defaultCheck 5 ">
                                    <a href="#"> Chhattisgarh </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck 6 ">
                                <label class="form-check-label" for="defaultCheck 6 ">
                                    <a href="#"> Goa </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck 7 ">
                                <label class="form-check-label" for="defaultCheck 7 ">
                                    <a href="#"> Gujarat </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck 8 ">
                                <label class="form-check-label" for="defaultCheck 8 ">
                                    <a href="#"> Haryana </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck 9 ">
                                <label class="form-check-label" for="defaultCheck 9 ">
                                    <a href="#"> Himachal Pradesh </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck 10 ">
                                <label class="form-check-label" for="defaultCheck 10 ">
                                    <a href="#"> Jammu and Kashmir </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck 11 ">
                                <label class="form-check-label" for="defaultCheck 11 ">
                                    <a href="#"> Jharkhand </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck 12 ">
                                <label class="form-check-label" for="defaultCheck 12 ">
                                    <a href="#"> Karnataka </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck 13 ">
                                <label class="form-check-label" for="defaultCheck 13 ">
                                    <a href="#"> Kerala </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck 14 ">
                                <label class="form-check-label" for="defaultCheck 14 ">
                                    <a href="#"> Madhya Pradesh </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck 15 ">
                                <label class="form-check-label" for="defaultCheck 15 ">
                                    <a href="#"> Maharashtra </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck 16 ">
                                <label class="form-check-label" for="defaultCheck 16 ">
                                    <a href="#"> Manipur </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck 17 ">
                                <label class="form-check-label" for="defaultCheck 17 ">
                                    <a href="#"> Meghalaya </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck 18 ">
                                <label class="form-check-label" for="defaultCheck 18 ">
                                    <a href="#"> Mizoram </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck 19 ">
                                <label class="form-check-label" for="defaultCheck 19 ">
                                    <a href="#"> Nagaland </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck 20 ">
                                <label class="form-check-label" for="defaultCheck 20 ">
                                    <a href="#"> Odisha </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck 21 ">
                                <label class="form-check-label" for="defaultCheck 21 ">
                                    <a href="#"> Punjab </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck 22 ">
                                <label class="form-check-label" for="defaultCheck 22 ">
                                    <a href="#"> Rajasthan </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck 23 ">
                                <label class="form-check-label" for="defaultCheck 23 ">
                                    <a href="#"> Sikkim </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck 24 ">
                                <label class="form-check-label" for="defaultCheck 24 ">
                                    <a href="#"> Tamil Nadu </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck 25 ">
                                <label class="form-check-label" for="defaultCheck 25 ">
                                    <a href="#"> Telangana </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck 26 ">
                                <label class="form-check-label" for="defaultCheck 26 ">
                                    <a href="#"> Tripura </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck 27 ">
                                <label class="form-check-label" for="defaultCheck 27 ">
                                    <a href="#"> Uttar Pradesh </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck 28 ">
                                <label class="form-check-label" for="defaultCheck 28 ">
                                    <a href="#"> Uttarakhand </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck 29 ">
                                <label class="form-check-label" for="defaultCheck 29 ">
                                    <a href="#"> West Bengal </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck 30 ">
                                <label class="form-check-label" for="defaultCheck 30 ">
                                    <a href="#"> Andaman and Nicobar Islands </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck 31 ">
                                <label class="form-check-label" for="defaultCheck 31 ">
                                    <a href="#"> Chandigarh </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck 32 ">
                                <label class="form-check-label" for="defaultCheck 32 ">
                                    <a href="#"> Dadra and Nagar Haveli </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck 33 ">
                                <label class="form-check-label" for="defaultCheck 33 ">
                                    <a href="#"> Daman and Diu </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck 34 ">
                                <label class="form-check-label" for="defaultCheck 34 ">
                                    <a href="#"> Lakshadweep </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck 35 ">
                                <label class="form-check-label" for="defaultCheck 35 ">
                                    <a href="#"> National Capital Territory of Delhi </a>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck 36 ">
                                <label class="form-check-label" for="defaultCheck 36 ">
                                    <a href="#"> Puducherry </a>
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Search Button [Search Icon]-->
            <div id="item-5" class="table-buttons-item">
                <div class="tool-item-5">
                    <button class="btn btn-primary btn-pill text-gray" type="button" onclick="dropdownfun()">Go</button>
                </div>
            </div>


        </div>
    </div>
    \




    <!-- row for charts scrollbar and map -->

    <div class="row pl-4" style="padding-right: 40px;">
        <div class="col-2 pt-2">
            <div class="card bg-primary border-light shadow-soft button-grid ">


                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical"
                    style="padding-top: 350px;">
                    <button id="btn-pill" class="mt-3 mb-3 nav-link" id="v-pills-barchart-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-barchart" type="button" role="tab" aria-controls="v-pills-barchart"
                        aria-selected="false">Bar Chart</button>
                    <button id="btn-pill" class="mt-3 mb-3 nav-link" id="v-pills-area-chart-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-area-chart" type="button" role="tab" aria-controls="v-pills-area-chart"
                        aria-selected="true">Area Chart</button>


                    <button id="btn-pill" class="mt-3 mb-3 nav-link" id="v-pills-bubblechart-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-bubblechart" type="button" role="tab"
                        aria-controls="v-pills-bubblechart" aria-selected="false">Bubble Chart</button>

                    <button id="btn-pill" class="mt-3 mb-3 nav-link" id="v-pills-heat-chart-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-heat-chart" type="button" role="tab" aria-controls="v-pills-heat-chart"
                        aria-selected="false">Heat Chart</button>
                    <button id="btn-pill" class="mt-3 mb-3 nav-link" id="v-pills-line-chart-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-line-chart" type="button" role="tab" aria-controls="v-pills-line-chart"
                        aria-selected="false">Line Chart</button>
                    <button id="btn-pill" class="mt-3 mb-3 nav-link" id="v-pills-nested-pie-chart-tab"
                        data-bs-toggle="pill" data-bs-target="#v-pills-nested-pie-chart" type="button" role="tab"
                        aria-controls="v-pills-nested-pie-chart" aria-selected="false">Nested Pie Chart</button>

                    <button id="btn-pill" class="mt-3 mb-3 nav-link" id="v-pills-pie-chart-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-pie-chart" type="button" role="tab" aria-controls="v-pills-pie-chart"
                        aria-selected="false">Pie Chart</button>

                    <button id="btn-pill" class="mt-3 mb-3 nav-link" id="v-pills-radar-chart-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-radar-chart" type="button" role="tab"
                        aria-controls="v-pills-radar-chart" aria-selected="false">Radar Chart</button>

                    <button id="btn-pill" class="mt-3 mb-3 nav-link" id="v-pills-rank-flow-chart-tab"
                        data-bs-toggle="pill" data-bs-target="#v-pills-rank-flow-chart" type="button" role="tab"
                        aria-controls="v-pills-rank-flow-chart" aria-selected="false">Rank Flow Chart</button>

                    <button id="btn-pill" class="mt-3 mb-3 nav-link" id="v-pills-tile-chart-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-tile-chart" type="button" role="tab" aria-controls="v-pills-tile-chart"
                        aria-selected="false">Tile Chart</button>



                </div>
            </div>
            <!-- <section id="btn-pill" class="hero-section pt-0 "
                style="overflow: auto;height: 40rem;padding-left: 2px;padding-right: 2px;margin-left: 11px;">
                <div class="card-grid">
                    <a id="item1" class="card" href="#">
                        <div class="card__background
                        </div>
                        <div class="card__content">
                            <p class="card__category">Category</p>
                            <h3 class="card__heading">Pie Chart</h3>
                        </div>
                    </a>
                    <a id="item2" class="card" href="#" onclick="insertMap()">
                        <div class="card__background"
>
                        </div>
                        <div class="card__content">
                            <p class="card__category">Category</p>
                            <h3 class="card__heading">Bar Chart</h3>
                        </div>
                    </a>
                    <a id="item3" class="card" href="#">
                        <div class="card__background"
>
                        </div>
                        <div class="card__content">
                            <p class="card__category">Category</p>
                            <h3 class="card__heading">Bubble Charts</h3>
                        </div>
                    </a>
                    <a id="item4" class="card" href="#">
                        <div class="card__background"

                        </div>
                        <div class="card__content">
                            <p class="card__category">Category</p>
                            <h3 class="card__heading">Histogram</h3>
                        </div>
                    </a>
                    <a id="item5" class="card" href="#">
                        <div class="card__background"
>
                        </div>
                        <div class="card__content">
                            <p class="card__category">Category</p>
                            <h3 class="card__heading">Donut Charts</h3>
                        </div>
                    </a>
                    <a id="item6" class="card" href="#">
                        <div class="card__background"
>
                        </div>
                        <div class="card__content">
                            <p class="card__category">Category</p>
                            <h3 class="card__heading">Line Charts</h3>
                        </div>
                    </a>
                    <a id="item7" class="card" href="#">
                        <div class="card__background"
>
                        </div>
                        <div class="card__content">
                            <p class="card__category">Category</p>
                            <h3 class="card__heading">Vega Charts</h3>
                        </div>
                    </a>
                    <a id="item8" class="card" href="#">
                        <div class="card__background"

                        </div>
                        <div class="card__content">
                            <p class="card__category">Category</p>
                            <h3 class="card__heading">Geomap</h3>
                        </div>
                    </a>
                    <div>
            </section> -->

        </div>
        <div id="mapArea" class="col-10">

            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-area-chart" role="tabpanel"
                    aria-labelledby="v-pills-area-chart-tab">
                    <embed type="text/html" src="/templates/neumorphism/assets/Charts/area-chart.html" width="1200"
                        height="600">
                </div>
                <div class="tab-pane fade" id="v-pills-bubblechart" role="tabpanel"
                    aria-labelledby="v-pills-bubblechart-tab">
                    <embed type="text/html" src="/templates/neumorphism/assets/Charts/bubble-chart.html" width="1200"
                        height="600">
                </div>
                <div class="tab-pane fade" id="v-pills-heat-chart" role="tabpanel"
                    aria-labelledby="v-pills-heat-chart-tab">
                    <embed type="text/html" src="/templates/neumorphism/assets/Charts/heat-chart.html" width="1200"
                        height="600">
                </div>
                <div class="tab-pane fade" id="v-pills-barchart" role="tabpanel" aria-labelledby="v-pills-barchart-tab">
                    <embed type="text/html" src="/templates/neumorphism/assets/Charts/bar-chart.html" width="1200"
                        height="600">
                </div>
                <div class="tab-pane fade" id="v-pills-line-chart" role="tabpanel"
                    aria-labelledby="v-pills-line-chart-tab">
                    <embed type="text/html" src="/templates/neumorphism/assets/Charts/line-chart.html" width="1200"
                        height="600">
                </div>
                <div class="tab-pane fade" id="v-pills-nested-pie-chart" role="tabpanel"
                    aria-labelledby="v-pills-nested-pie-chart-tab">
                    <embed type="text/html" src="/templates/neumorphism/assets/Charts/nested-pie-chart.html"
                        width="1200" height="600">
                </div>
                <div class="tab-pane fade" id="v-pills-pie-chart" role="tabpanel"
                    aria-labelledby="v-pills-pie-chart-tab">
                    <embed type="text/html" src="/templates/neumorphism/assets/Charts/pie-chart.html" width="1200"
                        height="600">
                </div>
                <div class="tab-pane fade" id="v-pills-radar-chart" role="tabpanel"
                    aria-labelledby="v-pills-radar-chart-tab">
                    <embed type="text/html" src="/templates/neumorphism/assets/Charts/radar-chart.html" width="1200"
                        height="600">
                </div>
                <div class="tab-pane fade" id="v-pills-rank-flow-chart" role="tabpanel"
                    aria-labelledby="v-pills-rank-flow-chart-tab">
                    <embed type="text/html" src="/templates/neumorphism/assets/Charts/rank-flow-chart.html" width="1200"
                        height="600">
                </div>
                <div class="tab-pane fade" id="v-pills-tile-chart" role="tabpanel"
                    aria-labelledby="v-pills-tile-chart-tab">
                    <embed type="text/html" src="/templates/neumorphism/assets/Charts/tile-chart.html" width="1200"
                        height="600">
                </div>
            </div>
        </div>
    </div>






    <!--row footer -->
    <div class="row">
        <div class="col-8 mx-auto">
            <div class="d-flex align-items-start">
                <!-- buttons of nav -->

               

                <!-- tab content -->
            </div>
        </div>
    </div>


    <my-footer></my-footer>



</body>

</html>