<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" constent="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/templates/neumorphism/assets/css/neumorphism.css">
  <link rel="stylesheet" href="/templates/neumorphism/assets/css/index.css">
  <script src="/templates/neumorphism/assets/javascript/index.js"></script>




  <script src="/index.php"></script>
  <script src="https://kit.fontawesome.com/7bdcd846e8.js" crossorigin="anonymous"></script>



  <!-- pixi.min.js -->
  <script src="/templates/neumorphism/assets/javascript/pixi.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.1.3/pixi.min.js"></script>


  <script src="https://cdn.lordicon.com/libs/frhvbuzj/lord-icon-2.0.2.js"></script>

  <!-- live time -->
  <script>
    function startTime() {
      var time = new Date();
      document.getElementById('txt').innerHTML = time.toLocaleString('en-US', {
        hour: 'numeric',
        minute: 'numeric',
        hour12: true
      });
    }
  </script>
  <!-- sound script -->
  <script>
    function audio() {
      var audio = new Audio("/templates/neumorphism/assets/sound/click-sound.mp3");
      audio.play();

    }
  </script>



</head>

<body onload="startTime()">
  <header class="navbar navbar-nav navbar-expand navbar-light navbar-theme-primary">
    <div class="container-fluid px-3 px-md-4">


      <!-- -----------------website name and icon-------------- -->

      <div class="d-flex align-items-center">
        <a class="navbar-brand shadow-soft py-2 px-3 rounded border border-light mr-xl-4" href="#">

          <span class="ml-2 text-dark" style="font-size: large;"><i class="fas fa-chart-pie"></i> <span></span> &nbsp &nbsp Crime Data
            Analytics</span>
        </a>
      </div>

      <!----------------------time------------------------------------ -->
      <!-- 
      <div class="d-flex align-items-center">
        <a class="navbar-brand shadow-soft py-2 px-3 rounded border border-light mr-xl-4" href="#">
          
          <div id="txt"><span class="ml-2 text-dark" style="font-size:xx-large;"></span> </div> 
        </a>
      </div> -->


      <!-- ---------------------nav-bar-items---------------------------- -->
      <div class="nav-buttons d-flex align-items-center">
        <div class="d-none d-lg-block">
          <a href="#" class="btn btn-primary text-dark mr-3"><i class="fas fa-home"></i> <span>&nbsp Home</span> </a>
          <a href="#" class="btn btn-primary text-dark mr-3"><i class="fas fa-globe-asia"></i> <span> &nbsp CrimeMap</span></a>
          <a href="#" class="btn btn-primary text-dark mr-3"><i class="fas fa-map-marker-alt"></i> <span> &nbsp
            CrimeLocator</span></a>
          <a href="#" class="btn btn-primary text-dark mr-3"><i class="fas fa-newspaper"></i> <span> &nbsp CrimeFeed</span></a>
          <a href="/templates/neumorphism/about.html" class="btn btn-primary text-dark mr-3"><i class="fas fa-user-secret"></i> <span> &nbsp About Us</span></a>
          <a href="#" class="btn btn-primary text-dark mr-3"><i class="fas fa-info-circle"></i> <span> &nbsp Help</span></a>
        </div>
      </div>


      <!-- <button class="btn btn-icon-only " type="button" aria-label="love button" title="love button"  onclick="audio()">
        <span aria-hidden="true" class="far fa-heart"></span>
      </button> -->



      <a href="#" class="btn-emoji" onclick="audio()">
        <i class="far fa-grin-tongue"></i>
      </a>


      <div id="txt"> </div>

    </div>
  </header>


  <script type="text/javascript">
    $('.datepicker')[0] && $('.datepicker').each(function () {
      $('.datepicker').datepicker({
        disableTouchKeyboard: true,
        autoclose: false
      });
    });
  </script>

  <!----------------------------------------- table and map ------------------------------------------->


  <div id="table-buttons" class="row">
    <!-- dropdown button-1 [Data Set] -->
    <div id="item-1" class="table-buttons-item">
      <div class="drop-1">
        <div class="dropdown1">
          <button class="dropdown1-button outset-neomo">
            Data Set
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown1-content">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                <a href="#">Past Data </a>
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
              <label class="form-check-label" for="defaultCheck2">
                <a href="#">Webscrapped Data </a>
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
              <label class="form-check-label" for="defaultCheck3">
                <a href="#">Predicted Data </a>
              </label>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- dropdown button-2 [Select Data Items] -->
    <div id="item-2" class="table-buttons-item">
      <div class="drop-1">
        <div class="dropdown1">
          <button class="dropdown1-button outset-neomo ">
            Select Data Items &nbsp;
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown1-content">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
              <label class="form-check-label" for="defaultCheck4">
                <a href="#">Accidents</a>
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
              <label class="form-check-label" for="defaultCheck5">
                <a href="#">Murder</a>
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck6">
              <label class="form-check-label" for="defaultCheck6">
                <a href="#">Kidnapping</a>
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck7">
              <label class="form-check-label" for="defaultCheck7">
                <a href="#">Robbery</a>
              </label>
            </div>


          </div>
        </div>
      </div>
    </div>
    <!-- date selector [Calendar Icon]-->
    <div id="item-3" class="table-buttons-item">
      <button class="btn btn-primary btn-pill text-success mr-2 mb-2 mb-4 mt-4 ml-3" type="button"><i
          class="far fa-calendar-alt"></i></i></button>
    </div>
    <!-- Search Button [Search Icon]-->
    <div id="item-4" class="table-buttons-item">
      <button class="btn btn-primary btn-pill text-success mr-2 mb-2 mb-4 mt-4 ml-3" type="button"> <i
          class="fas fa-search"></i></button>
    </div>

    <div id="item-5" class="table-buttons-item">

    </div>
  </div>


  <!--table  -->

  <div class="row" id="row-table-map">


    <div class="col-5">
      <table class="table shadow-soft rounded">
        <tr>

          <th class="border-0" scope="col" id="teacher">Teacher</th>
          <th class="border-0" scope="col" id="males">Males</th>
          <th class="border-0" scope="col" id="females">Females</th>
        </tr>
        <tr>

          <th scope="row" id="Bolter" headers="firstyear teacher">D. Bolter</th>
          <td headers="firstyear Bolter males">5</td>
          <td headers="firstyear Bolter females">4</td>
        </tr>
        <tr>
          <th scope="row" id="Cheetham" headers="firstyear teacher">A. Cheetham</th>
          <td headers="firstyear Cheetham males">7</td>
          <td headers="firstyear Cheetham females">9</td>
        </tr>
        <tr>

          <th scope="row" id="Lam" headers="secondyear teacher">M. Lam</th>
          <td headers="secondyear Lam males">3</td>
          <td headers="secondyear Lam females">9</td>
        </tr>
        <tr>

          <th scope="row" id="Bolter" headers="firstyear teacher">D. Bolter</th>
          <td headers="firstyear Bolter males">5</td>
          <td headers="firstyear Bolter females">4</td>
        </tr>
        <tr>
          <th scope="row" id="Cheetham" headers="firstyear teacher">A. Cheetham</th>
          <td headers="firstyear Cheetham males">7</td>
          <td headers="firstyear Cheetham females">9</td>
        </tr>
        <tr>

          <th scope="row" id="Lam" headers="secondyear teacher">M. Lam</th>
          <td headers="secondyear Lam males">3</td>
          <td headers="secondyear Lam females">9</td>
        </tr>
        <tr>

          <th scope="row" id="Bolter" headers="firstyear teacher">D. Bolter</th>
          <td headers="firstyear Bolter males">5</td>
          <td headers="firstyear Bolter females">4</td>
        </tr>
        <tr>
          <th scope="row" id="Cheetham" headers="firstyear teacher">A. Cheetham</th>
          <td headers="firstyear Cheetham males">7</td>
          <td headers="firstyear Cheetham females">9</td>
        </tr>
        <tr>

          <th scope="row" id="Lam" headers="secondyear teacher">M. Lam</th>
          <td headers="secondyear Lam males">3</td>
          <td headers="secondyear Lam females">9</td>
        </tr>
        <tr>
          <th scope="row" id="Crossy" headers="secondyear teacher">S. Crossy</th>
          <td headers="secondyear Crossy males">4</td>
          <td headers="secondyear Crossy females">3</td>
        </tr>
        <tr>
          <th scope="row" id="Forsyth" headers="secondyear teacher">A. Forsyth</th>
          <td headers="secondyear Forsyth males">6</td>
          <td headers="secondyear Forsyth females">9</td>
        </tr>
      </table>
    </div>

    <!-- map code -->
    <div id="" class="col-7">
      <div class="card bg-primary border-light shadow-soft">
        <div class="card-body">
          <span class="h6 icon-tertiary small"><span class="fas fa-globe mr-2"></span>Map</span>
          <h3 class="h5 card-title mt-3">We partnered up with Google</h3>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, molestiae ipsam. Tempore aliquam incidunt
            tenetur, animi fuga sit fugit rem soluta sequi eaque pariatur adipisci laudantium fugiat aspernatur sapiente
            in voluptas vitae veritatis voluptatem dolorum. Quis necessitatibus doloremque, culpa ad eos sunt impedit,
            commodi facere animi fuga dicta assumenda voluptates ullam officiis, itaque iusto. Dolores voluptatem atque
            molestiae sunt esse quasi aliquam exercitationem fugit architecto provident autem deleniti libero eligendi
            placeat perspiciatis hic nam a asperiores, quas quidem.</p>
          <a href="#" class="btn btn-primary btn-sm">Learn More</a>
        </div>
      </div>
    </div>
  </div>

  </div>
  </div>





</body>

</html>