<!DOCTYPE html>
<html>
<body>
    <form>
        a: <input type="number" name="a" id="a"><br>
        b: <input type="number" name="b" id="b"><br>
        
        
        
        
        
        <div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="c" value="option1">
  <label class="form-check-label" for="inlineCheckbox1">1</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="d" value="option2">
  <label class="form-check-label" for="inlineCheckbox2">2</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="e" value="option3">
  <label class="form-check-label" for="inlineCheckbox3">3 </label>
</div>
        <button onclick="add()">Add</button>
      </form>
      
      <script>
      
      
      
        function add() {
          var a = document.getElementById('a').value;
          var b = document.getElementById('b').value;
          var c ='test1';
          var d ='test2';
          if (document.getElementById('c').checked==true){
           c = document.getElementById('c').value;
          }
          if (document.getElementById('d').checked==true){
           d = document.getElementById('d').value;
          }
          
      
          var sum = parseInt(a) + parseInt(b);
          //alert(sum);
          console.log(a);
          alert(b);
          alert(sum);
          alert(c);
          alert(d);
          alert(e);
          alert('test');
        }
      </script>
</body>
</html>
